@page
@model Website.Pages.AdminModel
@{
    ViewData["Title"] = "Administration";
}

<h1>@ViewData["Title"]</h1>
<p>Welcome back @User.Identity?.Name!</p>

<p><a href="/signout">Logout</a></p>

<h4>Posts</h4>

<p><a href="/admin/blog/create">New Post</a></p>

<h4>Short Links</h4>

<p>
    <a href="/admin/short-links">View</a>
    <br />
    <a href="/admin/short-links/create">New Short Link</a>
</p>

<h4>Images</h4>

<p>
    <a asp-controller="Images" asp-action="Upload">Upload Image</a>
    <br />
    <a asp-controller="Images" asp-action="Index">Manage Images</a>
</p>