@page
@model Website.Pages.Contact

@{
    ViewData["Title"] = "Contact";
}

<h1>@ViewData["Title"]</h1>

<section>
    <p>
        Email &#10140; <a href="mailto:contact@dominicmaas.co.nz">contact@dominicmaas.co.nz</a> <br />
        Twitter &#10140; <a class="twitter" href="https://twitter.com/dominicjmaas">@@dominicjmaas</a> <br />
        GitHub &#10140; <a class="github" href="https://github.com/DominicMaas">@@DominicMaas</a> <br />
        LinkedIn &#10140; <a class="linkedin" href="https://www.linkedin.com/in/dominicjmaas">@@dominicjmaas</a>
    </p>
</section>