@page "{code}"
@model Website.Pages.Error

@{
    ViewData["Title"] = "Error " + Model.Code;
}

<h1>@ViewData["Title"]</h1>

<p>Something went wrong :(</p>

@if (Model.ShowRequestId)
{
    <small>
        <strong>RID:</strong> @Model.RequestId
    </small>
}