@page
@model IndexModel
@{
    ViewData["Title"] = "Dominic Maas";
}

<section>
    <p>
        Hi! I'm a software developer specializing with the Windows GUI platform (such as WinUI 3, UWP and WPF). I also have experience with Xamarin Forms and really anything XAML related.
    </p>
    <p>
        Professionally, I've built software for <a href="https://www.staffpad.net/">StaffPad</a> and <a href="https://www.inex.co.nz/">Independent Extrusions</a>.
        I'm currently building software for <a href="https://mu.se/">Muse Group</a> such as the Windows implementations of Muse Hub and StaffPad.
        Detailed information can be found on my <a href="/cv">curriculum vitae</a>.
    </p>
    <p>
        I studied at
        <a href="https://www.waikato.ac.nz/">The University of Waikato</a> from 2018 to 2021 (where I had a great time meeting new people and working on cool projects), and was certified with a Bachelor of Science (major in Computer Science) on the 6th of September 2022.
    </p>
    <p>
        In my own time I like to expand my skills by building things I don't usually work with, such as game mods, games, embedded software etc. You can take a look at the projects section of my website to see <a href="/projects">what I've worked on</a>.
        While not programming, I enjoy running, biking, <a href="/photography">photography</a>, astronomy and rocketry.
    </p>
    <p>
        This website is built using ASP.NET Razor Pages. I've tried to keep things simple and lightweight! Numerous design changes and tweaks, but I'm pretty happy where things are at the moment.
    </p>
</section>
