@page
@model Website.Pages.PhotographyModel

@{
    ViewData["Title"] = "Photography";
}

<h1>Photography</h1>

@foreach (var group in Model.PhotosGroups)
{
    <section>
        <h3>@group.Title</h3>
        <p>@group.Description</p>

        <div class="gallery">
            @foreach (var photo in group.Photos)
            {
                <w-image src="@photo.ImagePath" alt="@photo.Meta" />
            }
        </div>
    </section>
}