@page
@model Website.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>This website does not make use of any analytics tools, none of your personal information is collected.</p>
<p>The privacy policies below are for miscellaneous apps that I have created or hosted in the past (which don't have their own website).</p>

<section>
    <div class="card card-background">
        <p class="card-title">Lensinator</p>
        <p><strong>Introduction</strong></p>
        <p>
            The image, voice, video or text understanding capabilities of the Lensinator app uses Microsoft Cognitive Services.
            Microsoft will receive the images, audio, video, and other data that you upload (via this app) for service improvement purposes.
            To report abuse of the Microsoft Cognitive Services to Microsoft, please visit the Microsoft Cognitive Services website at
            <a href="https://www.microsoft.com/cognitive-services">https://www.microsoft.com/cognitive-services</a>, and use the “Report Abuse” link
            at the bottom of the page to contact Microsoft. For more information about Microsoft privacy policies please see their privacy statement
            here: <a href="https://go.microsoft.com/fwlink/?LinkId=521839">https://go.microsoft.com/fwlink/?LinkId=521839</a>.
        </p>

        <br />
        <p><strong>Last Updated:</strong> 1st August 2017</p>
    </div>

    <div class="card card-background">
        <p class="card-title">SoundByte</p>
        <p><strong>App Analytics</strong></p>
        <p>SoundByte collects both anonymous usage information and crash reports. Usage analytics can be disabled in SoundByte v19.1 or later by visiting the settings page, crash analytics cannot be disabled.</p>
        <br />

        <p>Telemetry is a vital tool to ensure that SoundByte is stable as possible, while also providing the correct features in the best place. By using the anonymous data received from these analytic services we are able to diagnose problems before they affect more people. Telemetry also helps us understand what features are being used in the app, and in what order. This allows us to optimize SoundByte to our target audience.</p>
        <br />

        <p><em>Crash Analytics: </em>When SoundByte crashes, information about this crash is sent to Visual Studio App Center on app startup. This is dependent on your operating system privacy settings.</p>
        <br />

        <p><em>Usage Analytics: </em>SoundByte also collects anonymous usage information about multiple aspects of the app. This includes current playing songs (service provider type, nothing is collected about the actual song), if your logged in or not, which pages are navigated to etc.</p>
        <br />

        <p>These analytics are sent to Google Analytics and Visual Studio App Center</p>
        <br />

        <p>SoundByte also collects some anonymous information on startup such as App Version, Platform, Device Type (Desktop, Xbox, Mobile), and OS Version. This information is used to help provide the app with the required keys it needs to function correctly. This information cannot be used to track you and is not shared with any 3rd party services.</p>
        <br />

        <p><strong>Music Providers</strong></p>
        <p>SoundByte allows you to connect to external music providers such as SoundCloud, Fanburst, YouTube and Spotify. By listening to music from these services, you agree to their respected Privacy Policies and Terms of Service.</p>
        <br />

        <p>SoundByte is not affiliated, endorsed or certified in any way with these providers.</p>
        <br />

        <p>SoundByte is not responsible for any 3rd party music provider abuse.</p>
        <br />

        <p><strong>Last Updated:</strong> 27th January 2022</p>
    </div>

    <div class="card card-background">
        <p class="card-title">XKCD Explorer</p>
        <p><strong>Introduction</strong></p>
        <p>
            XKCD Explorer uses the internet connection for downloading comic data, and sending telemetry usage.
            To view more information about these reasons, read below. This application does not collect or transmit
            any of the users personally identifiable information.
        </p>

        <br />
        <p><strong>Anonymous Telemetry</strong></p>
        <p>
            App Telemetry is sent to two services, Hockey App and Visual Studio Application Insights. Telemetry is used to fix problems in the app before they become more widespread, telemetry also help us figure out what features are being used, and what features need to be changed or improved. Please Note: Telemetry is completely anonymous, no personally identifiable information is transmitted.
        </p>

        <br />
        <p><strong>Favorited Comic Storage</strong></p>
        <p>
            XKCD Web Comics that have been favorited by the user, have their comic numbers saved in a JSON (JavaScript Object Notation) file named XKCD_Favourites. This file is saved in the apps Roaming folder which is synced across all devices that are logged into the current Microsoft Account. This file does not contain any personally identifiable information.
        </p>

        <br />
        <p><strong>Technical Information</strong></p>
        <p>
            Some technical information is sent such as IP addresses included in the HTTP calls the application makes when downloading comic data.
        </p>

        <br />
        <p><strong>Last Updated:</strong> 26th May 2017</p>
    </div>
</section>
