@page
@model Website.Pages.Projects.Index

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<section>
    <div class="card card-background">
        <small>Active: 2015 - 2020</small>
        <p class="card-title"><a href="/projects/soundbyte">SoundByte</a></p>

        <p>SoundByte was a music client originally built for Windows Phone and later ported to Windows 10 &amp; Xbox One which combined the ability to play local music on your device, alongside SoundCloud and YouTube content (and at one point, Fanburst content).</p>
        <p><a href="https://soundbytemedia.com">Website</a> • <a href="https://github.com/DominicMaas/SoundByteOSS">GitHub</a></p>

        <br />
        <img class="pure-img image" src="/images/soundbyte/sb_final.jpg" />
    </div>

    <div class="card card-background">
        <small>2017 - Current</small>
        <p class="card-title"><a href="https://github.com/CitiesSkylinesMultiplayer/CSM/">Cities Skylines: Multiplayer</a></p>
        <p>
            An open source Cities: Skylines multiplayer mod that aims to
            provide an easy to use multiplayer system for Cities: Skylines.
        </p>

        <br />

        <img class="pure-img image" src="/images/projects/csm.jpg" />
    </div>

    <div class="card card-background">
        <small>Archived</small>
        <p class="card-title"><a href="https://apps.microsoft.com/store/detail/9NBLGGH4RTC2?hl=en-us&gl=US">XKCD Explorer</a></p>
        <p>
            XKCD Explorer is a simple, beautiful yet effective app that lets you view xkcd web comics, share xkcd web comics with your friends, save your
            favorite web comics across devices, receive notifications when a new web comic is posted and view the meaning behind popular xkcd web comics.
        </p>

        <br />

        <img class="pure-img image" src="/images/projects/xkcd.png" />
    </div>

    <div class="card card-background">
        <small>Archived</small>
        <p class="card-title"><a href="https://github.com/DominicMaas/TimelineExtension">Timeline Extension</a></p>
        <p>
            A Windows Timeline and Project Rome extension for
            Google Chrome and other browsers.
        </p>

        <br />

        <img class="pure-img image" src="/images/timeline_extension.jpg" />
    </div>

    <div class="card card-background">
        <small>Archived</small>
        <p class="card-title"><a href="https://github.com/DominicMaas/SpaceChunks">Space Chunks</a></p>
        <p>
            An experimental voxel game engine + game that I developed
            to understand how voxel based worlds are generated and basic
            c++ / game programming.
        </p>
    </div>
</section>