@page
@model Website.Pages.Projects.Soundbyte

@{
    ViewData["Title"] = "SoundByte";
}

<div class="card card-background card-hoverable card-alert">
    <p class="card-title">Future of SoundByte</p>
    <p>Due to changes in the SoundCloud API, many previous functions of SoundByte no longer work:</p>
    <ul>
        <li><p>It is no longer possible for 3rd-party apps to access the logged in users stream.</p></li>
        <li><p>It is no longer possible for 3rd-party apps to access top charts and trending music.</p></li>
        <li><p>You must now be logged in to access the SoundCloud API. All SoundCloud functions of the app will not work without being logged in (including listening to music).</p></li>
        <li><p>In addition to the above, SoundByte Account functionality has been removed from the app.</p></li>
        <li><p>YouTube login is still broken. API access may work, playback may work.</p></li>
    </ul>
</div>

<section>
    <h1 id="h-intro">SoundByte</h1>
    <p>SoundByte was a music client originally built for Windows Phone and later ported to Windows 10 &amp; Xbox One which combined the ability to play local music on your device, alongside SoundCloud and YouTube content (and at one point, Fanburst content).</p>

    <p>You could listen to music, create and edit playlists, stream YouTube videos and more from a simple, clean, ad-free music client.</p>

    <p>SoundByte also integrated into more advanced Windows 10 features such as live tiles, media controls (skip or pause tracks using your keyboard), Cortana voice commands, and Windows Timeline.</p>

     <p>
        SoundByte could be described as a test platform where I put my skills and new ideas to use.
        The application was split into two parts, the front end application and the backend server.
    </p>

    <p>
        The front-end application was a standard <strong>UWP</strong> app that could run on Windows 10 devices
        and Xbox's. The user experience was adjusted according to the platform the app was running on.
    </p>

    <p>
        The back-end server ran on a dedicated VPS running <strong>docker</strong>. One container contained
        the <strong>ASP.NET Core</strong> website and another contained the <strong>Microsoft SQL Server</strong>. The website made
        use of <strong>ASP.NET Core Identity</strong> to handle user accounts, and <strong>Identity Server</strong> for
        OAuth support for the front-end application. It both provided a front end website
        for users to visit and an API for the Windows/Xbox application to use.
    </p>

    <p>
        Both the back-end and app used Azure DevOps (<strong>Azure Pipelines</strong>) for continuous
        integration (CI) to ensure changes made to the applications didn't break anything.
    </p>

    <p>
        During the end of 2019 I also started work on overhauling this application using
        <strong>MVVM Cross</strong> and <strong>Xamarin Native</strong>, but this work was never completed due to time constraints
        introduced by University, and general burn-out caused by the pandemnic.
    </p>

    <ul>
        <li><p>Windows 10 + Xbox Once app written in C# and XAML using the UWP framework</p></li>
        <li><p>iOS app written in C# using Xamarin Native (and the native iOS UI libraries)</p></li>
        <li><p>Website written in C# using ASP.NET Core, Entity Framework Core and SignalR</p></li>
        <li><p>Uncompleted rewritten apps share common code in form of a cross platform .NET Standard library (using Mvvmcross)</p></li>
    </ul>

    <p>This page summarizes the development history of SoundByte, and its current status.</p>
</section>

<section>
    <h3 id="h-contents">Contents</h3>
    <p>
        <a href="#h-intro">Introduction</a><br/>
        <a href="#h-contents">Contents</a><br/>
        <a href="#h-idea">The Idea</a><br/>
        <a href="#h-history">Development History</a><br/>
        <a href="#h-stats">Statistics</a><br/>
        <a href="#h-future">Future</a><br/>
    </p>
</section>

<section>
    <h3 id="h-idea">The Idea</h3>
    <p>
        SoundByte was originally born out of a personal need for a UWP SoundCloud client for Windows Phone (and Windows 10). Windows 10 had
        just released (2015) alongside the new UWP app development framework. The idea of UWP intrigued me (one app running on a range of devices).
    </p>
    <p>
        At this point in time, there was already a SoundCloud client for Windows Phone (orginally designed for Windows Phone 7/8) called
        <a href="https://www.facebook.com/audiocloudapp/">AudioCloud</a>. It didn't quite tick all the boxes for me, so I decided, why not create my own?
    </p>
    <p>
        SoundByte would later drop support for Windows Phone, add support for Xbox, multiple music providers, local music, SoundByte Accounts, and even briefly work on iPhones. But before
        any of that could happen, the app had to start somewhere...
    </p>
</section>

<section>
    <h3 id="h-history">Development History</h3>

    <h6>2015 - First Sketches</h6>
    <p>I can only vaguely remember sketching this out. I recall being on Holiday somewhere locally in New Zealand without access to my computer.</p>
    <img class="image pure-img" src="~/images/soundbyte/soundcloud_ui_draft.jpg" />
    <br /><br />

    <p>The sketch describes what would eventually become version 0.4 of SoundByte in a very rough format (see image below).</p>

    <img class="image pure-img" src="~/images/soundbyte/soundcloud0_4.jpg" />
    <br /><br />

    <h6>2015 - Development Screenshots</h6>
    <p>Some mobile app screenshots that I had gathered throughout development:</p>
    <img class="image pure-img" src="~/images/soundbyte/mobile_dev.jpg" />
    <br /><br />

    <h6>January 2016 - Going Public</h6>
    <p>
        After spending a month or two in development. I finally went public about the application and
        started to gather feedback. You can still find the original Reddit thread <a href="https://www.reddit.com/r/windowsphone/comments/40w38r/uwp_soundcloud_player_ui_feedback/">here</a>,
        alongside the Imgur album <a href="https://imgur.com/a/rPwog">here</a>.
    </p>
    <p>The linked Reddit thread is also where I first met Dennis Bednarz (Denaxin) who would help out immensely with the application.</p>
    <img class="image pure-img" src="~/images/soundbyte/soundcloud_ad_old.jpg" />
    <br /><br />

    <h6>July 2016 - Preview Release</h6>
    <p>The app is now called SoundByte and is on the store (as a preview)!</p>
    <p><a href="https://www.reddit.com/r/windowsphone/comments/4u0kob/soundbyte_preview_soundcloud_uwp_app/">Reddit announcement post</a> and a <a href="https://mspoweruser.com/developer-submission-soundbyte-preview-soundcloud-uwp-app/">MSPowerUser Developer Submission</a> from the time.</p>

    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Hb7IFnyJrqM?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br /><br /><br />

    <h6>August 2016 - Stable Release</h6>
    <p>Initial Release. <a href="https://mspoweruser.com/developer-submission-soundbyte-uwp-soundcloud-app/">Announcement Post</a>.</p>

    <img class="image pure-img" src="~/images/soundbyte/initial_stable.jpg" />
    <br /><br />

    <h6>November 2016 - Xbox Support</h6>
    <p><a href="https://www.reddit.com/r/xboxone/comments/5ahtrw/soundbyte_a_soundcloud_app_now_available_for_xbox/">Reddit Thread</a></p>

    <h6>February 2017 - Xbox Optimization &amp; Project Neon Development</h6>
    <p>
        Optimized for Xbox (<a href="https://www.reddit.com/r/xboxone/comments/5rkssv/soundbyte_soundcloud_app_now_features/">Reddit Thread</a>, <a href="https://imgur.com/a/6silo">Imgur Album</a>).
    </p>

    <p>
        During this same time period, I started a major redesign of SoundByte with the help of Dennis Bednarz. This redesign would introduce a global shell which would encapsulate
        all content within the application (previously every page was unique and separate). This shell stuck throughout the many future redesigns of SoundByte. You can see the initial
        development of the shell below (note how the entire previous app is contained within the shell):
    </p>

    <div class="gallery">
      <img class="image" src="~/images/soundbyte/dev_neon_1.jpg" />
      <img class="image" src="~/images/soundbyte/dev_neon_2.jpg" />
      <img class="image" src="~/images/soundbyte/dev_neon_3.jpg" />
      <img class="image" src="~/images/soundbyte/dev_neon_4.jpg" />
    </div>
    <br /><br />

    <h6>April 2017 - Project Neon</h6>
    <p>New major redesign of SoundByte inspired by Project Neon (which would eventually become Fluent Design by Microsoft). First two screenshots are from the desktop app, next two screenshots are from the Xbox app.</p>

    <img class="image pure-img" src="~/images/soundbyte/NEON_Dark.jpg" alt="SoundByte home UI with NEON design language" />
    <br />
    <img class="image pure-img" src="~/images/soundbyte/NEON_NowPlaying.jpg" alt="SoundByte 'Now Playing' UI with NEON design language" />
    <br />
    <img class="image pure-img" src="~/images/soundbyte/NEON_Dark_Xbox.jpg" alt="SoundByte home UI on Xbox with NEON design language" />
    <br />
    <img class="image pure-img" src="~/images/soundbyte/NEON_NowPlaying_Xbox.jpg" alt="SoundByte 'Now Playing' UI on Xbox with NEON design language" />
    <br /><br />

    <h6>May 2018</h6>
    <p>Redesign using vertical navigation (in anticipation of tabs built into windows - which never happened). <a href="https://twitter.com/SoundByteUWP/status/997378684406218752">Twitter Announcement</a>.</p>

    <img class="image pure-img" src="~/images/soundbyte/vert_1.jpg" />
    <br /><br />

    <h6>October 2018 - Xbox Redesign</h6>
    <p>A redesign of the Xbox portion of the app to use a new dedicated shell UI to improve the user experience. <a href="https://twitter.com/SoundByteUWP/status/1051674763746140160">Announcement Tweet</a>.</p>

    <img class="image pure-img" src="~/images/soundbyte/xbox18_1.jpg" />
    <br />
    <img class="image pure-img" src="~/images/soundbyte/xbox18_2.jpg" />
    <br /><br />

    <h6>July 2019</h6>
    <p>Dennis Bednarz (Denaxin) passes away.</p>
    <br />

    <h6>October 2019 - Latest UI</h6>
    <p>The latest and final UI design of SoundByte (excluding minor changes)</p>
    <img class="image pure-img" src="~/images/soundbyte/sb_final.jpg" />

    <br />

    <p>You can find more development screenshots <a href="https://t.co/bNtfYxjyB3?amp=1">here</a>.</p>
</section>

<section>
    <h3 id="h-stats">Statistics</h3>

    <p>
        Various (anonymous) statistics about SoundByte over the past few years.
    </p>

    <h6>Plays per hour</h6>
    <p>
        <b>2019:</b> 724 <br />
        <b>2018:</b> 534 <br />
        <b>2017:</b> 421
    </p>

    <h6>Average session duration</h6>
    <p>
        <b>2019:</b> 51 minutes, 26 seconds <br />
        <b>2018:</b> 56 minutes, 48 seconds <br />
        <b>2017:</b> 37 minutes, 28 seconds
    </p>
</section>

<section>
    <h3 id="h-future">Future</h3>

    <p>
        SoundByte account functionality is read-only as of May 21, 2021 (this also disables registering new accounts).
        If you login with your SoundByte account, you can also export all of your data (history, likes, and most played).
    </p>

    <p>
        The SoundByte API has been shutdown as of January 31st, 2022. An app update was also released which removed SoundByte account functionality from the app. The account
        login was moved to a lightweight API hosted on my personal website (this).
    </p>

    <p>
        <a href="https://github.com/DominicMaas/SoundByteOSS">The app is open source</a> if you want to build your own version / mess around with it, and the server (stripped down) will also be published when I have some time.
    </p>

    <p>
        It was a good ride! The opportunities that I have gained by creating this little app have changed my life! The app will stay in the Microsoft
        Store, but I cannot guarantee any future fixes.
    </p>

    <p>I'll quickly summarize the current blockers preventing future SoundByte development:</p>

    <h6>SoundCloud Support</h6>

    <p>SoundCloud API changes requiring all streamed music to be authenticated (you must be logged into the application, this also applies strict stream quota limits).</p>
    <p>SoundCloud API changes making grabbing the logged in users stream (and trending music) very difficult without workarounds, which I don't have time to invest in.</p>

    <h6>YouTube Support</h6>

    <p>
        With YouTube, I might be able to get support working again, but I need to figure out
        why the new login client id is not working (and then get the new client id approved by YouTube
        which might not happen because of the nature of this app). This will take time which I don't have at the moment.
    </p>
</section>


