@page
@model Website.Pages.Projects.DannyModel

@{
    ViewData["Title"] = "Project Danny";
}

<h1>@ViewData["Title"]</h1>
<p>Project Danny is an assistive application allowing non-verbal communication via touch input and customisable pictures.</p>
<p>Created for <a href="https://hamwest.school.nz/">Hamilton West School</a> by Dominic Maas and <a href="https://github.com/ervinjay13">Ervin Jay Delos Reyes</a>.</p>

<p>Project Danny allows you to create "calls" (individual images associated with a spoken phrase) which appear on a easy to read and interact with grid. The user of the application then just needs to tap on the image, for the application to speak the phrase out loud.</p>

<h3>Support</h3>

<p>For support for feedback using this application, please send an email to <a href="mailto:project_danny@dominicmaas.co.nz">project_danny@@dominicmaas.co.nz</a>. Otherwise if you have the ability to, contact Dominic directly.</p>

<h3>Privacy Policy</h3>
<p>This application collects no user data. The source code can be found on <a href="https://github.com/ervinjay13/danny">GitHub</a>.</p>
