@page
@model Website.Pages.Projects.Index

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<p>A collection of personal and professional projects that I have worked on over the years. Feel free to explore around and click on the card headings for more information.</p>

<section>
    <div class="card card-background">
        <small>2017 - Current</small>
        <p class="card-title"><a href="https://github.com/CitiesSkylinesMultiplayer/CSM/">Cities Skylines: Multiplayer</a></p>
        <p>
            An open source Cities: Skylines multiplayer mod that aims to
            provide an easy to use multiplayer system for Cities: Skylines.
        </p>

        <br />

        <w-image src="/images/projects/csm.jpg" />
    </div>

    <div class="card card-background">
        <small>2023 - Current</small>
        <p class="card-title"><a href="https://musehub.com">Muse Hub</a></p>

        <p>
            Muse Hub is an app for discovering inspirational music and audio tools, like apps, plug-ins and sounds, from the world's best indie developers.
        </p>

        <br />

        <p>I work on developing the Windows front end as seen below.</p>

        <br />

        <w-image src="/images/projects/musehub.jpg" alt="Muse Hub Windows Desktop" />
    </div>

    <div class="card card-background">
        <small>2023 - Current</small>
        <p class="card-title"><a href="/projects/danny">Project Danny</a></p>
        <p>
            Project Danny is an assistive application allowing non-verbal communication via touch input and customisable pictures.
        </p>
    </div>

    <br />
    <hr />
    <br />

    <div class="card card-background">
        <small>Active: 2015 - 2020</small>
        <p class="card-title"><a href="/projects/soundbyte">SoundByte</a></p>

        <p>SoundByte was a music client originally built for Windows Phone and later ported to Windows 10 &amp; Xbox One which combined the ability to play local music on your device, alongside SoundCloud and YouTube content (and at one point, Fanburst content).</p>

        <br />
        <w-image src="/images/soundbyte/sb_final.jpg" alt="SoundByte Desktop Screenshot" />
    </div>

    <div class="card card-background">
        <small>Archived</small>
        <p class="card-title"><a href="https://github.com/DominicMaas/SpaceChunks">Space Chunks</a></p>
        <p>
            An experimental voxel game engine + game that I developed
            to understand how voxel based worlds are generated and basic
            c++ / game programming.
        </p>
    </div>

    <div class="card card-background">
        <small>Archived</small>
        <p class="card-title"><a href="https://github.com/DominicMaas/TimelineExtension">Timeline Extension</a></p>
        <p>
            A Windows Timeline and Project Rome extension for
            Google Chrome and other browsers.
        </p>

        <br />

        <w-image src="/images/timeline_extension.jpg" alt="Timeline Extension" />
    </div>

    <div class="card card-background">
        <small>Archived</small>
        <p class="card-title"><a href="https://apps.microsoft.com/store/detail/9NBLGGH4RTC2?hl=en-us&gl=US">XKCD Explorer</a></p>
        <p>
            XKCD Explorer is a simple, beautiful yet effective app that lets you view xkcd web comics, share xkcd web comics with your friends, save your
            favorite web comics across devices, receive notifications when a new web comic is posted and view the meaning behind popular xkcd web comics.
        </p>

        <br />

        <w-image src="/images/projects/xkcd.png" alt="XKCD Explorer" />
    </div>

</section>