@model Website.Models.Database.Image

@{
    ViewData["Title"] = "Edit Image";
}

<h1>@ViewData["Title"]</h1>

<form class="pure-form pure-form-aligned" asp-action="Edit">
    <fieldset>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="pure-control-group">
            <label asp-for="DateTaken"></label>
            <input asp-for="DateTaken" />
            <span asp-validation-for="DateTaken" class="pure-form-message-inline"></span>
        </div>
        <div class="pure-control-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" />
            <span asp-validation-for="Description" class="pure-form-message-inline"></span>
        </div>
        <div class="pure-controls">
            <input type="submit" value="Save" class="pure-button pure-button-primary" />
        </div>
    </fieldset>
</form>
