@page
@model Website.Pages.WebAssembly.WebGL

@{
    ViewData["Title"] = "Web Assembly - Web GL";
}

@section Scripts
{
    <script async defer src="/wasm/webgl.js"></script>
}

<section>
    <h2>WebGL</h2>
    <canvas width="800" height="600" id="canvas"></canvas>
</section>