@page
@model Website.Pages.Contact

@{
    ViewData["Title"] = "Contact";
}

<h1>@ViewData["Title"]</h1>

<section>
    <p>Send an email: <a href="mailto:contact@dominicmaas.co.nz">contact@dominicmaas.co.nz</a></p>
    <p>Twitter: <a class="twitter" href="https://twitter.com/dominicjmaas">@@dominicjmaas</a></p>
    <p>GitHub: <a class="github" href="https://github.com/DominicMaas">@@DominicMaas</a></p>
    <p>LinkedIn: <a class="linkedin" href="https://www.linkedin.com/in/dominicjmaas">@@dominicjmaas</a></p>
</section>