@page
@model Website.Pages.Contact

@{
    ViewData["Title"] = "Contact";
}

<section>
    <h2>Contact</h2>
    <p>Send me an email: dominic <strong>[dot]</strong> maas <strong>[at]</strong> live <strong>[dot]</strong> com</p>
    <p>Twitter: <a class="twitter" href="https://twitter.com/dominicjmaas">@@dominicjmaas</a></p>
    <p>GitHub: <a class="github" href="https://github.com/DominicMaas">@@DominicMaas</a></p>
    <p>LinkedIn: <a class="linkedin" href="https://www.linkedin.com/in/dominicjmaas">@@dominicjmaas</a></p>
</section>