@page
@model Website.Pages.Contact

@{
    ViewData["Title"] = "Contact";
}

<section>
    <h2>Contact</h2>
    <p>Send me an email: <strong>first name</strong>.<strong>last name</strong>@@live.com</p>
</section>