@page "{code}"
@model Website.Pages.Error

@{
    ViewData["Title"] = "Error " + ViewData.Model.Code;
}

<section>
    <h2>Error @Model.Code</h2>
    <p>Something went wrong <i class="fal fa-frown"></i></p>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
</section>
