@page "{code}"
@model Website.Pages.Error

@{
    ViewData["Title"] = "Error " + Model.Code;
}

<h1>@ViewData["Title"]</h1>

<p>Something went wrong <i class="fal fa-frown"></i></p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}