@page "{id}"
@model Website.Pages.FwModel

@{
    if (Model.IsSuccess)
    {
        ViewData["Title"] = "Redirecting...";

        <section>
            <h1>Please wait, redirecting...</h1>
            <p>If nothing happens in 5 seconds, click <a href="@Model.RequestedUri">here</a>.</p>
        </section>

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                window.location.href = "@Model.RequestedUri";
            }, false);
        </script>
    }
    else
    {
        ViewData["Title"] = "Dominic Maas";

        <section>
            <!-- Page Hero Text -->
            <h1>@Model.Message</h1>
            <p>Click <a href="/contact">here</a> to report this broken link.</p>
        </section>
    }
}
