@page
@model Website.Pages.MediaModel

@{
    ViewData["Title"] = "Media";
}

<h1>Media</h1>
<p>Various Articles written about my applications, and applications that I have worked on.</p>

<section>
    <h2>Timeline Extension</h2>
    <div class="card card-background">
        <small>Sean Endicott • August 8, 2018</small>
        <p class="card-title"><a href="https://www.windowscentral.com/timeline-support-review-bringing-windows-timeline-mozilla-firefox">Timeline Support Firefox add-on brings Windows Timeline to Mozilla's browser</a></p>
        <p>
            Windows 10's Timeline feature lets you jump back to previous sessions of apps. It's a great way to jump back to a website or
            document you worked on before. Unfortunately, not many developers support it. Thankfully, developer Dominic Maas has made an add-on for
            Mozilla Firefox that adds Timeline support to the browser.
        </p>
    </div>
    <div class="card card-background">
        <small>Mauro Huc • July 17, 2018</small>
        <p class="card-title"><a href="https://pureinfotech.com/add-chrome-firefox-timeline-windows-10/">How to add Chrome and Firefox to Timeline on Windows 10</a></p>
        <p>
            If you Chrome or Firefox, you can use this extension to ingrate the browser to the Windows 10 new Timeline feature.
        </p>
    </div>
    <div class="card card-background">
        <small>Tom Warren • July 16, 2018</small>
        <p class="card-title"><a href="https://www.theverge.com/2018/7/16/17577112/microsoft-windows-10-timeline-chrome-firefox-support-extension">Chrome and Firefox gain Windows 10 Timeline support with a new extension</a></p>
        <p>
            Microsoft’s new Timeline feature in Windows 10 is designed to let you pick up where you left off on multiple devices. While Timeline supports Microsoft Edge
            for web browsing history, Chrome and Firefox have not yet been updated to officially support the new feature. A third-party developer has now created a
            Chrome and Firefox extension to bring Windows Timeline support to both browsers.
        </p>
    </div>
    <div class="card card-background">
        <small>Sharath Ravishankar • July 15, 2018</small>
        <p class="card-title"><a href="https://www.neowin.net/news/chrome-and-firefox-gain-timeline-integration-via-add-on/">Chrome and Firefox gain Timeline integration via add-on</a></p>
        <p>
            Timeline, a feature introduced to the general public with version 1803 (the April 2018 Update of Windows 10), hasn't taken off with the developer
            community perhaps quite as quickly as it should. However, three months after its debut, while still being reasonablyMicrosoft centric with apps
            like the Office suite or Edge, third-party offerings such as VLC have also mad use of Timeline to sync app activity across devices.
        </p>
        <br />
        <p>
            To enhance the current capabilities for the subset of Windows users that prefer Google Chrome, Firefox or Vivaldi, and would like to utilize
            Timeline as a quick way to reopen recently closed browsing sessions, there's good news. This comes courtesy of Dominic Maas, developer of
            SoundByte, a slick third-party UWP app for SoundCloud.
        </p>
    </div>
</section>

<section>
    <h2>SoundByte</h2>
    <div class="card card-background">
        <small>Albert Jelica • May 7, 2019</small>
        <p class="card-title"><a href="https://windowsarea.de/2019/05/windows-10-basics-die-besten-apps-im-microsoft-store/">Windows 10 Basics: Die besten Apps im Microsoft Store</a></p>
        <p>
            Der Microsoft Store unter Windows 10 beherbergt eine Vielzahl an Anwendungen, von denen viele zweifellos nicht sehr qualitativ sind. Neben bekannter
            Software wie WhatsApp Desktop, Spotify, iTunes, Netflix und Co., findet man unzählige Apps, die eine Installation einfach nicht wert sind.
        </p>
    </div>
    <div class="card card-background">
        <small>Sean Endicott • June 26, 2018</small>
        <p class="card-title"><a href="https://www.windowscentral.com/best-apps-utilize-windows-10-fluent-design">Best Windows 10 apps that use the Fluent Design System</a></p>
        <p>
            Making beautiful apps is complicated, but properly implementing Fluent Design is a great start.
        </p>
    </div>
    <div class="card card-background">
        <small>Sharath Ravishankart • March 18, 2018</small>
        <p class="card-title"><a href="https://www.neowin.net/news/app-spotlight--interview-soundbyte">App Spotlight + Interview: SoundByte</a></p>
        <p>
            A vast majority of my streaming is done from Google Play Music, but often, there's content on platforms like YouTube and SoundCloud that one generally can't find elsewhere.
        </p>
        <br />
        <p>
            After spending some time on SoundCloud's perfectly adequate website, I decided to look for an app that could better
            leverage Windows' media controls and give me more flexibility in a natively coded package. Mind you, I didn't really need an app,
            but out of curiosity and my preference for natively coded apps, I decided to look for one anyway.
        </p>
        <br />
        <p>
            This led me to New Zealand-based developer Dominic Maas' UWP project, SoundByte, that was initially made to be a SoundCloud client for Windows Phone.
        </p>
    </div>
    <div class="card card-background">
        <small>Sean Endicott • August 29, 2017</small>
        <p class="card-title"><a href="https://www.windowscentral.com/soundbyte-gives-soundcloud-fluent-design-treatment">SoundByte gives SoundCloud the Fluent Design treatment</a></p>
        <p>
            "Music and audio content from SoundCloud sound great but now it looks great as well with SoundByte, the Fluent-designed SoundCloud client."
        </p>
        <br />
        <p>
            SoundByte has pretty much every Fluent Design feature that we've seen leading up to the Fall Creators Update. It utilizes transparent backgrounds, hover over effects, and a transparent title bar.
        </p>
        <br />
        <p>
            Embracing these makes SoundByte a beautiful app on Windows 10 that looks natural on multiple form factors.
        </p>
    </div>
    <div class="card card-background">
        <small>Michael Allison • August 12, 2017</small>
        <p class="card-title"><a href="https://mspoweruser.com/soundbyte-beautiful-soundcloud-client-windows/">Soundbyte is a beautiful SoundCloud client for Windows</a></p>
        <p>
            While there is a SoundCloud client for Windows 10, like most apps in the Windows Store, there’s a much better designed third party client.
        </p>
        <br />
        <p>
            SoundByte for Windows is that client, predating the SoundCloud app for Windows, it offers much of the same functionality you would expect from a
            SoundCloud app. You can log in, view your account including your stream, playlists etc. The developers even made a nifty trailer for the
            WIndows Store to show you that they care.
        </p>
        <br />
        <p>
            Now, I’m not normally a third party client app user, nor am I a Soundcloud user on the regular, but I downloaded this app because it looked very well put together.
        </p>
    </div>
    <div class="card card-background">
        <small>George Ponder • February 21, 2017</small>
        <p class="card-title"><a href="https://www.windowscentral.com/soundbyte-todays-myappfree-deal">SoundByte SoundCloud app for Windows 10 is today's myAppFree deal</a></p>
        <p>
            SoundByte is a SoundCloud client app for Windows 10. The app delivers a host of sound files to your device with the ability to create sets, upload sounds and more.
        </p>
    </div>
</section>