@page
@model Website.Pages.PCModel
@{
    ViewData["Title"] = "PC Setup";
}

<h1>@ViewData["Title"]</h1>
<p>My current PC setup and a history of this setup. More of a personal history reminder for myself. I've separated my PC builds into different geneations, usually separated by the CPU / motherboard platform. </p>

<h3>Current Setup</h3>
<p>My current setup was born in _ with the release of the AMD Ryzen Processors. Although as with the ship of theseus, no original components remain.</p>

<div class="card card-background">
    <p class="card-title">2022</p>
    <p><strong>Case &#10140; </strong>Phanteks Eclipse P350X</p>
    <p><strong>CPU &#10140; </strong>AMD Ryzen 5 5600X</p>
    <p><strong>GPU &#10140; </strong>NVIDIA GeForce RTX 3070</p>
    <p><strong>RAM &#10140; </strong>32GB @@ 3200 MHz </p>
    <p><strong>Storage &#10140; </strong> Samsung 970 Evo Plus @@ 500GB, 2 Crucial BX500 @@ 1TB each</p>
</div>

<div class="card card-background">
    <p class="card-title">April 2021</p>
    <p><strong>CPU: </strong>AMD Ryzen 7 1700X &#10140; AMD Ryzen 5 5600X</p>
</div>

<div class="card card-background">
    <p class="card-title">November 2020</p>
    <p><strong>GPU: </strong>AMD Radeon RX 580 &#10140; NVIDIA GeForce RTX 3070</p>
</div>

<div class="card card-background">
    <p class="card-title">July 2019</p>
    <p>
        <strong>Case: </strong>Phanteks Enthoo Pro M &#10140; Phanteks Eclipse P350X
    </p>
</div>

<br />
<h3>Previous Setups</h3>

<h5>GPUs</h5>

<p>AMD Radeon RX 580 ?</p>
<p>AMD Radeon R9 270X ?</p>
<p>AMD Radeon HD 6450 ?</p>

<h5>CPUs</h5>

<p>AMD FX-8350</p>

<p>AMD Phenom II X4 965 Black Edition</p>

<p>AMD Sempron LE-1150 ?</p>

<p>AMD Athlon XP 2000+</p>