@page
@model Website.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}

<section>
    <h2>Privacy Policy</h2>
    <p>This website does not make use of any analytics tools, none of your personal information is collected.</p>
    <p>The privacy policies below are for miscellaneous apps that I have created or hosted in the past (which don't have their own website).</p>
</section>

<section>
    <h2>Lensinator</h2>
    <h5>Introduction</h5>
    <p>
        The image, voice, video or text understanding capabilities of the Lensinator app uses Microsoft Cognitive Services.
        Microsoft will receive the images, audio, video, and other data that you upload (via this app) for service improvement purposes.
        To report abuse of the Microsoft Cognitive Services to Microsoft, please visit the Microsoft Cognitive Services website at
        <a href="https://www.microsoft.com/cognitive-services">https://www.microsoft.com/cognitive-services</a>, and use the “Report Abuse” link
        at the bottom of the page to contact Microsoft. For more information about Microsoft privacy policies please see their privacy statement
        here: <a href="https://go.microsoft.com/fwlink/?LinkId=521839">https://go.microsoft.com/fwlink/?LinkId=521839</a>.
    </p>

    <p><b>Last Updated:</b> 1st August 2017</p>
</section>

<section>
    <h2>XKCD Explorer</h2>

    <h5>Introduction</h5>
    <p>
        XKCD Explorer uses the internet connection for downloading comic data, and sending telemetry usage.
        To view more information about these reasons, read below. This application does not collect or transmit
        any of the users personally identifiable information.
    </p>

    <h5>Anonymous Telemetry</h5>
    <p>
        App Telemetry is sent to two services, Hockey App and Visual Studio Application Insights. Telemetry is used to fix problems in the app before they become more widespread, telemetry also help us figure out what features are being used, and what features need to be changed or improved. Please Note: Telemetry is completely anonymous, no personally identifiable information is transmitted.
    </p>

    <h5>Favorited Comic Storage</h5>
    <p>
        XKCD Web Comics that have been favorited by the user, have their comic numbers saved in a JSON (JavaScript Object Notation) file named XKCD_Favourites. This file is saved in the apps Roaming folder which is synced across all devices that are logged into the current Microsoft Account. This file does not contain any personally identifiable information.
    </p>

    <h5>Technical Information</h5>
    <p>
        Some technical information is sent such as IP addresses included in the HTTP calls the application makes when downloading comic data.
    </p>

    <p><b>Last Updated:</b> 26th May 2017</p>
</section>