@page
@model Website.Pages.SoundbytePostmortem

@{
    ViewData["Title"] = "SoundByte Postmortem";
}

<section>
    <h1>SoundByte</h1>
    <p>I'm still writing this up, stay tuned. You can see a twitter thread <a href="https://twitter.com/dominicjmaas/status/1393086984831127553">here</a>.</p>
</section>