@page
@model Website.Pages.SoundbytePostmortem

@{
    ViewData["Title"] = "SoundByte Postmortem";
}

<div class="card card-background card-hoverable card-alert">
    <p class="card-title">Future of SoundByte</p>
    <p>Due to changes in the SoundCloud API, many previous functions of SoundByte no longer work:</p>
    <ul>
        <li><p>It is no longer possible for 3rd-party apps to access the logged in users stream.</p></li>
        <li><p>It is no longer possible for 3rd-party apps to access top charts and trending music.</p></li>
        <li><p>You must now be logged in to access the SoundCloud API. All SoundCloud functions of the app will not work without being logged in (including listening to music).</p></li>
        <li><p>In addition to the above, SoundByte Account functionality has been removed from the app.</p></li>
        <li><p>YouTube login is still broken. API access may work, playback may work.</p></li>
    </ul>
</div>

<h1>SoundByte</h1>
<p>This content has been moved to the SoundByte project page. Click <a href="/projects/soundbyte">here</a> to view it.</p>
