@page
@model Website.Pages.Stonks

@{
    ViewData["Title"] = "Stonks";
}

<section>
    <a href="https://www.google.com/search?q=tsla">
        <img class="image pure-img" alt="Stonks meme with Elon Musk" src="images/stonks.jpeg"/>
    </a>
</section>

