@page
@model Website.Pages.StyleModel
@{
    ViewData["Title"] = "Style guide";
}

<section>
    <h1>Headings</h1>
    <p>This section shows the weight of all the headings with text underneath</p>

    <h2>Heading 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus velit metus, sit amet ultricies tortor fermentum vitae. Donec nec lacus in dui tempor tincidunt.</p>

    <h3>Heading 3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus velit metus, sit amet ultricies tortor fermentum vitae. Donec nec lacus in dui tempor tincidunt.</p>

    <h4>Heading 4</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus velit metus, sit amet ultricies tortor fermentum vitae. Donec nec lacus in dui tempor tincidunt.</p>

    <h5>Heading 5</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus velit metus, sit amet ultricies tortor fermentum vitae. Donec nec lacus in dui tempor tincidunt.</p>

    <h6>Heading 6</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus velit metus, sit amet ultricies tortor fermentum vitae. Donec nec lacus in dui tempor tincidunt.</p>
</section>

<section>
    <h1>Tables</h1>
    <p>This section shows what a table looks like on this website</p>

    <table class="pure-table pure-table-horizontal pure-table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Day</th>
                <th scope="col">Week</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Monday</td>
                <td>3</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Tuesday</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <h1>Paragraphs</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus velit metus, sit amet ultricies tortor fermentum vitae. Donec nec lacus in dui tempor tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec malesuada urna eget molestie luctus. Sed lacinia leo diam, sed imperdiet lectus cursus malesuada. Maecenas at tristique elit, nec maximus mauris. Maecenas eget mi convallis, pretium ipsum non, convallis nunc. Sed tempus egestas orci, non egestas sem aliquet ut. Praesent in urna ut dui posuere imperdiet vel a turpis. Proin viverra eleifend nulla, non tincidunt velit sagittis sed.</p>
    <p>Etiam porttitor, odio vel ullamcorper egestas, turpis magna imperdiet massa, quis venenatis mi justo eget odio. Pellentesque aliquet sodales metus vel ullamcorper. Aenean eu sagittis lorem. Praesent eget orci eu nunc mollis sodales. Vivamus porta risus in ultricies ultrices. Cras sollicitudin in mi ut eleifend. Curabitur condimentum dui vel pellentesque egestas. Sed pretium tincidunt lacinia. Nulla pellentesque lacinia nisi sit amet placerat. Donec tincidunt commodo lectus dignissim tempor. Nunc commodo, sem tristique feugiat rutrum, nisi dolor congue sapien, eu consectetur nulla lectus id lectus. Aliquam eget odio neque. Etiam aliquam tellus ac velit vehicula gravida.</p>
    <p>Vivamus in purus vel massa fermentum consectetur at a diam. Donec egestas, nulla in hendrerit varius, libero libero feugiat arcu, quis faucibus est nulla at tortor. Fusce vestibulum, diam vel lacinia lacinia, odio nibh blandit quam, a consectetur odio lacus sed massa. Sed eu bibendum sem. Nam sit amet augue eget turpis viverra semper. Etiam egestas purus eget nisl varius rhoncus. Etiam egestas tortor nec lorem condimentum, non consequat elit facilisis. Quisque ullamcorper congue libero, elementum finibus nulla mollis id. Curabitur et ante vitae est venenatis dictum a eget leo. Vivamus turpis lacus, fringilla a justo et, suscipit placerat orci. Cras auctor ullamcorper aliquet. Maecenas pulvinar quis diam vel condimentum. Sed efficitur elit et vestibulum eleifend. Etiam aliquet fermentum leo, quis vehicula lectus molestie et. In eget scelerisque sapien. Nullam at interdum eros, eu tristique erat.</p>
    <p>Vivamus eget mollis enim, et molestie lorem. Nam vulputate feugiat pharetra. Curabitur ac nisl at ipsum accumsan cursus. Aliquam tempor tellus sit amet justo semper, vel pulvinar nisl maximus. Sed et turpis non elit iaculis dapibus. Sed pulvinar, elit at vulputate eleifend, metus mi mollis nisi, sed tincidunt nulla justo eget urna. Vivamus consectetur cursus malesuada. Ut massa ligula, rutrum vitae nisl nec, maximus efficitur leo. Sed placerat, nulla et hendrerit maximus, massa risus vehicula ante, molestie ultricies justo dolor nec ipsum. Sed auctor tincidunt aliquet. Sed mauris leo, accumsan sed porttitor non, blandit quis est. Nam euismod, sem at laoreet varius, risus nisi dignissim sem, fermentum tristique mauris est molestie nisl. Ut feugiat quam at lacus molestie consectetur.</p>
    <p>Nam pellentesque iaculis velit, a molestie arcu finibus in. Nam hendrerit sem et tristique facilisis. In pellentesque lacus vel lorem fermentum, sit amet lobortis odio porta. Morbi tempus ante nisi, ut tristique metus dignissim vel. In sit amet ligula vel lectus pellentesque dictum. Morbi egestas nisi sed nunc pharetra, eget interdum sem consectetur. Sed mattis faucibus ante porttitor posuere. In sed bibendum tortor. Suspendisse in ex sapien. Aenean gravida eu dui sit amet dapibus. Cras ac odio quis est mollis mollis sit amet ut velit. In fermentum libero eget massa auctor, non facilisis augue auctor. Praesent quis dignissim metus.</p>
</section>