@page
@model Website.Pages.ThoughtsModel
@{
    ViewData["Title"] = "Thoughts";
}

<section>
    <h1>Thoughts</h1>
    <p>A collection of thoughts, ideas and links that I have come across. Bit of a scattered mess... mainly here so I can personally keep track of everything.</p>

    <h5>Tweets</h5>
    <blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">Zero sum thinking is toxic.</p>&mdash; Austin Rief ☕️ (@@austin_rief) <a href="https://twitter.com/austin_rief/status/1412511381916721154?ref_src=twsrc%5Etfw">July 6, 2021</a></blockquote>
    <blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">“You’re doing it all wrong,” said someone doing nothing at all.</p>&mdash; Sahil (@@shl) <a href="https://twitter.com/shl/status/1415678588834127877?ref_src=twsrc%5Etfw">July 15, 2021</a></blockquote>
    <blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">You don&#39;t see black when you close your eyes- even in a total darkness.<br>You see a color called Eigengrau. It&#39;s a dark cool grey. And nobody really knows why. <a href="https://t.co/q4UTEZ5aZr">pic.twitter.com/q4UTEZ5aZr</a></p>&mdash; austin (@@AustinTByrd) <a href="https://twitter.com/AustinTByrd/status/1105822085362925568?ref_src=twsrc%5Etfw">March 13, 2019</a></blockquote>
    <blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">Americans have fewer friends than they used to. 15% of men and 10% of women have no close friends. <a href="https://t.co/Dl2lSknT18">pic.twitter.com/Dl2lSknT18</a></p>&mdash; Paul Graham (@@paulg) <a href="https://twitter.com/paulg/status/1408820878285082624?ref_src=twsrc%5Etfw">June 26, 2021</a></blockquote>

    <br />
    <h5>Podcasts</h5>
    <p>
        <a href="https://www.youtube.com/watch?v=R5rNoV1Qy_Q">Lex Fridman interview with Michael Malice</a> &mdash; I throughly
        enjoyed this podcast, especially the talk about cynicism (21:17). I understand Michael's viewpoint in terms of anarchy
        (1:31:14), but his talking points haven't really convinced me. I may need to search around for more of this content to
        see if he describes / argues his points more throughly.
    </p>
    <p>
        <a href="https://www.youtube.com/watch?v=d2bYwYxqJCM">Lex Fridman interview with Jason Calacanis</a> &mdash; Guy knows a lot, and has
        a lot of stories! I had already followed Jason on twitter before listening to this, but it really brings a "human"
        side to him - if you will.
    </p>

    <br />
    <h5>Book Quotes</h5>

    <blockquote>
        <p><em>
            "Inaction is the primary refuge of those who prefer their own constructed realities
            to the beautiful chaos of the real world"
        </em></p>
        <p>&mdash; The Fifth Science (Exurb1a)</p>
    </blockquote>
    <blockquote>
        <p><em>
            "Ha! If they had known the trouble that nitric acid was to cause before it was finally domesticated,
            the authors would probably have stepped out of the lab and shot themselves."
        </em></p>
        <p>&mdash; Ignition!: An Informal History of Liquid Rocket Propellants (John D. Clark)</p>
    </blockquote>

    <br />
    <h5>Books</h5>
    <p>
        - The Fifth Science (Exurb1a)
        <br />
        - Liftoff (Eric Berger)
        <br />
        - How to Win Friends and Influence People (Dale Carnegie) - <em>Still reading...</em>
    </p>

    <br />
    <h5>Link Dump</h5>
    <p>
        <a href="https://milan.cvitkovic.net/writing/things_youre_allowed_to_do/">Things you're allowed to do - Milan Cvitkovic</a>
        <br />
        <a href="https://www.evanmiller.org/how-not-to-sort-by-average-rating.html">How Not To Sort By Average Rating - Evan Miller</a>
    </p>
</section>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>