@page
@model Website.Pages.ContactModel
@{
    ViewData["Title"] = "About Me";
}

    <div>
        <h1>Dominic Maas</h1>

        <p class="intro">
            Computer Science Student studying at the
            <a href="https://www.waikato.ac.nz/">University of Waikato</a>
        </p>

        <p class="intro">
            UWP & WPF app developer, currently learning
            <a href="https://docs.microsoft.com/en-us/xamarin/">Xamarin</a>
        </p>
    </div>