@page
@model Website.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Me";
}

<div>
    <h1>
        <a href="/">
            <i class="far fa-chevron-left left"></i>Contact Me
        </a>
    </h1>
    <ul>
        <li>
            <a href="https://twitter.com/dominicjmaas">Twitter - @@dominicjmaas</a>
        </li>
        <li>
            <a href="https://github.com/DominicMaas">GitHub - @@DominicMaas</a>
        </li>
    </ul>
</div>
