@page
@model Website.Pages.CSMAX270Model
@{
    ViewData["Title"] = "CSMAX270";
}

<h1>CSMAX270</h1>

<p class="intro">
    Quizzes are worth ~3.8% each (46% total), tutorials are worth 9% each (54% total)
</p>

<section>
    <h2>Quizzes</h2>
    <table class="pure-table pure-table-horizontal pure-table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Quiz Name</th>
                <th scope="col">Due Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><a href="https://elearn.waikato.ac.nz/mod/quiz/view.php?id=913590">Introduction and Student Survey Quiz</a></td>
                <td>Monday, 29 July 2019</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><a href="https://elearn.waikato.ac.nz/mod/quiz/view.php?id=913559">Internationalisation Quiz 1: Character Representation</a></td>
                <td>Monday, 29 July 2019</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td><a href="https://elearn.waikato.ac.nz/mod/quiz/view.php?id=913876">Internationalisation Quiz 2: Internationalisation, Localisation & Global Differences</a></td>
                <td>Friday, 9 August 2019</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td><a href="https://elearn.waikato.ac.nz/mod/quiz/view.php?id=913886">How Computers Understand Language: Quiz 1</a></td>
                <td>Tuesday, 13 August 2019</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td><a href="https://elearn.waikato.ac.nz/mod/quiz/view.php?id=917077">He Whare Hangarau Māori – language, culture & technology: Quiz 1</a></td>
                <td>Monday, 26 August 2019</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td><a href="https://elearn.waikato.ac.nz/mod/quiz/view.php?id=917081">He Whare Hangarau Māori – language, culture & technology: Quiz 2</a></td>
                <td>Saturday, 31 August 2019</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td><a href="https://elearn.waikato.ac.nz/mod/quiz/view.php?id=917080">He Whare Hangarau Māori – language, culture & technology: Quiz 3</a></td>
                <td>? (Open)</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td><a href="https://elearn.waikato.ac.nz/mod/quiz/view.php?id=917105">Teamwork in Software Development: Quiz 1</a></td>
                <td>Friday, 27 September 2019</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td><a href="">Teamwork in Software Development: Quiz 2</a></td>
                <td>Friday, 4 October 2019</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td><a href="https://elearn.waikato.ac.nz/mod/quiz/view.php?id=913917">Communication Online: Quiz 1</a></td>
                <td>Friday, 11 October 2019</td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td><a href="https://elearn.waikato.ac.nz/mod/quiz/view.php?id=913918">Communication Online: Quiz 2</a></td>
                <td> Friday, 18 October 2019</td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td><a href="">no idea (may have missed something above?)</a></td>
                <td>umm</td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <h2>Tutorials</h2>
    <table class="pure-table pure-table-horizontal pure-table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tutorial Name</th>
                <th scope="col">Week</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><a href="https://elearn.waikato.ac.nz/mod/assign/view.php?id=913713">Individual Assessment 1, Internationalisation Tutorial</a></td>
                <td>3</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><a href="https://elearn.waikato.ac.nz/mod/assign/view.php?id=913889">Individual Assessment 1, How Computers Understand Language Tutorial</a></td>
                <td>5</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td><a href="https://elearn.waikato.ac.nz/mod/assign/view.php?id=917086">Individual Assessment 1, He Whare Hangarau Māori</a></td>
                <td>6</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td><a href="">(Not on moodle - more Māori stuff)</a></td>
                <td>8</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td><a href="">(Not on moodle - probably teamwork)</a></td>
                <td>10</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td><a href="">(Not on moodle - probably online communication)</a></td>
                <td>12</td>
            </tr>
        </tbody>
    </table>
</section>
