@page
@model Website.Pages.ExperienceModel
@{
    ViewData["Title"] = "Curriculum vitae";
}

<section>
    <p>References are available on request</p>
</section>

<section>
    <h1>Education</h1>

    <h6>University of Waikato</h6>
    <p class="small">2018 - 2021/22 • <a href="https://www.waikato.ac.nz/">Website</a></p>
    <p>Currently in my third year of Computer Science (BCMS(Hons))</p>
    
    <br/>
    
    <h6>Melville High School</h6>
    <p class="small">2013 - 2017 • <a href="https://www.melville-high.school.nz/">Website</a></p>
</section>

<section>
    <h2>Work Experience</h2>
    <h6>StaffPad</h6>
    <p class="small">2019 - Current • <a href="https://www.staffpad.net/">Website</a></p>
</section>

<section>
    <h6>Independent Extrusions Ltd.</h6>
    <p class="small">2017 - Current • <a href="https://inex.co.nz/">Website</a></p>

    <ul>
        <li><p><b>Windows Phone:</b> Scanner apps using custom Windows Phones with built in barcode scanners. </p></li>
        <li><p><b>UWP:</b> Windows 10 Mobile scanners / weight scale reader. Interacts with webservice which talks to a database.</p></li>
        <li><p><b>WPF:</b> User App, heavily interacts with database via dapper. Uses custom SQL queries and existing stored procedures. Auto deployment via click once and Azure DevOps, sorting of information, live updating of tables, keeping information in sync between multiple users.</p></li>
        <li><p><b>ASP.NET:</b> Help support existing ASP.NET MVC project by adding controllers, adjusting functionality, redeploying the website etc.</p></li>
        <li><p><b>Azure DevOps:</b> Source code hosting, nuget package hosting, CI, CD.</p></li>
    </ul>
</section>

<section>
    <h6>INEX</h6>
    <p class="small">2016 - 2017 • <a href="https://inex.co.nz/">Website</a></p>
    <ul>
        <li><p>Part time work during the school holidays painting and cleaning factory floors and equipment.</p></li>
    </ul>
</section>

<section>
    <h1>Apps</h1>
    <h6>SoundByte</h6>
    <p class="small">2016 - 2020 • <a href="https://soundbytemedia.com">Website</a></p>
    <p>Originally built as a UWP 3rd party SoundCloud client for Windows Phone in 2016. Later extended to desktop and Xbox One in 2017, and then further extended in 2018 to support other music services such as YouTube and Fanburst</p>

    <ul>
        <li><p>Windows 10 + Xbox Once app written in C# and XAML using the UWP framework</p></li>
        <li><p>iOS app written in C# using Xamarin Native (and the native iOS UI libraries)</p></li>
        <li><p>Website written in C# using ASP.NET Core 3, Entity Framework Core and SignalR</p></li>
        <li><p>Uncompleted rewritten apps share common code in form of a cross platform .NET Standard library (using Mvvmcross)</p></li>
    </ul>
</section>

<section>
    <h6>Cities Skylines: Multiplayer</h6>
    <p>
        An open source Cities: Skylines multiplayer mod that aims to
        provide an easy to use multiplayer system for Cities: Skylines
    </p>
</section>

<section>
    <h6>Timeline Extension</h6>
    <p>
        A Windows Timeline and Project Rome extension for
        Google Chrome and other browsers
    </p>
</section>

<section>
    <h6>Space Chunks</h6>
    <p>
        An experimental voxel game engine + game that I developed
        to understand how voxel based worlds are generated and basic
        c++ / game programming
    </p>
</section>

<section>
    <h1>Interests</h1>
    <ul>
        <li><p>Photography</p></li>
        <li><p>Astronomy</p></li>
        <li><p>Running (sometimes)</p></li>
    </ul>
</section>
