@page
@model Website.Pages.ExperienceModel
@{
    ViewData["Title"] = "Curriculum vitae";
}

<h1>Curriculum vitae</h1>
        
<section>
    <h2>Contact</h2>

    <p>
        <a href="mailto:dominic.maas@live.com">Email: dominic.maas@live.com</a>
    </p>

    <p>
        <a href="https://twitter.com/dominicjmaas">Twitter: @@dominicjmaas</a>
    </p>

    <p>
        <a href="https://github.com/DominicMaas">GitHub: github.com/DominicMaas</a>
    </p>

</section>
        

<section>
    <h2>Education</h2>
    <ul class="large-spacing">
        <li>
            <p><a href="https://www.waikato.ac.nz/">Computer Science (BCMS(Hons)) at the University of Waikato</a></p>
            <p class="small">2018 - 2021</p>
        </li>
        <li>
            <p><a href="https://www.melville-high.school.nz/">Melville High School</a></p>
            <p class="small">2013 - 2017</p>
        </li>
    </ul>
</section>
       

<section>
    <h2>Work Experience</h2>
    <ul class="large-spacing">
        <li>
            <p><a href="https://inex.co.nz/">Independent Extrusions Limited</a></p>
            <p></p>
            <p class="small">2016 - Current</p>
        </li>
    </ul>
</section>
        

<section>
    <h2>Apps</h2>
    <ul class="large-spacing">
        <li>
            <a href="https://soundbytemedia.com">SoundByte</a>
            <p class="small">2016 - Current</p>
            <p>Originally built as a UWP 3rd party SoundCloud client for Windows Phone in 2016. Later extended to desktop and Xbox One in 2017, and then further extended in 2018 to support other music services such as YouTube and Fanburst</p>
            <br />
            <p>Currently being rewritten to support extensions, iOS, and Android</p>
            <br />
            <p>Windows 10 + Xbox Once app written in C# and XAML using the UWP framework</p>
            <p>iOS app written in C# using Xamarin Native (and the native iOS UI libraries)</p>
            <p>Android app written in C# using Xamarin Native (and the native Android UI libraries)</p>
            <p>Website written in C# using ASP.NET Core 3, Entity Framework Core and SignalR</p>
            <p>All apps share common code in form of a cross platform .NET Standard library (using Mvvmcross)</p>
        </li>
        <li>
            <a href="">Cities Skylines: Multiplayer</a>
            <p>
                An open source Cities: Skylines multiplayer mod that aims to
                provide an easy to use multiplayer system for Cities: Skylines
            </p>
        </li>
        <li>
            <a href="">Timeline Extension</a>
            <p>
                A Windows Timeline and Project Rome extension for
                Google Chrome and other browsers
            </p>
        </li>
        <li>
            <a href="">Space Chunks</a>
            <p>
                An experimental voxel game engine + game that I developed
                to understand how voxel based worlds are generated and basic
                c++ / game programming
            </p>
        </li>
    </ul>
</section>
        
<section>
    <h2>Interests</h2>
    <ul class="large-spacing">
        <li>
            <p><a href="/photography">Photography</a></p>
        </li>
    </ul>
</section>


