@page
@model Website.Pages.ExperienceModel
@{
    ViewData["Title"] = "Curriculum vitae";
}




<section>
    <p>References are available on request</p>
</section>

<section>
    <h1>Skills</h1>
    <p>
        I’m skilled in <strong>C#</strong> and <strong>XAML</strong> having spent many years building applications using 
        the <strong>UWP</strong> (Universal Windows Platform), <strong>WPF</strong> (Windows Presentation Foundation), and ​WP8.1 
        (Windows Phone 8.1) UI frameworks. I have recently started exploring mobile development both 
        professionally (<strong>Xamarin Forms</strong>) and in my own time (<strong>Xamarin Native</strong>, <strong>Flutter</strong>). 
        I have also worked with <strong>ASP.NET Core</strong> and <strong>Entity Framework</strong> (Core and ‘Legacy’).
    </p>
    
    <p>
        I've had some experience with <strong>Java</strong>, <strong>PHP</strong>, <strong>JavaScript</strong>, <strong>TypeScript</strong>, <strong>HTML</strong> & <strong>CSS</strong>. I have used <strong>C++</strong> (basic 
        opengl games), <strong>Python</strong> (pytorch) and <strong>ReactJS</strong> in the past, but am not very experienced with those 
        languages / frameworks - although I’m willing to learn!
    </p>

    <p>
        I’m experienced in working with source control (<strong>git</strong>) using <strong>GitHub</strong>, <strong>GitLab</strong>
        and <strong>Azure DevOps</strong>. This includes dealing with branches, pull requests, reviews and
        merge conflicts.
    </p>
    
</section>

<section>
    <h1>Education</h1>

    <h6>University of Waikato</h6>
    <p class="small">2018 - 2021/22 • <a href="https://www.waikato.ac.nz/">Website</a> • Hamilton, NZ</p>
    <p>Finished my third year of Computer Science (BCMS(Hons)) and awaiting my final year.</p>
    
    <br/>
    
    <h6>Melville High School</h6>
    <p class="small">2013 - 2017 • <a href="https://www.melville-high.school.nz/">Website</a> • Hamilton, NZ</p>
    <ul>
        <li><p>NCEA Level 1, 2 & 3 certificates endorsed in Merit</p></li>
        <li><p>Cup for Excellence in Year 13 Computing (2017)</p></li>
        <li><p>Cup for Excellence in Senior Information Management (2016)</p></li>
        <li><p>1st in Year 13 Statistics</p></li>
        <li><p>1st in Year 11, 12 & 13 Digital Technology</p></li>
        <li><p>1st in Year 10 Information Management</p></li>
    </ul>
</section>

<section>
    <h2>Work Experience</h2>
    <h6>StaffPad</h6>
    <p class="small">June 2019 - Current • <a href="https://www.staffpad.net/">Website</a> • Remote</p>
    <p>
        Staffpad is a music notation app designed for Windows 10 (Tablets) and iOS (iPad). I was tasked 
        with upgrading the existing UWP app to match a style guide supplied in Zeplin. This required 
        building out custom XAML and C# controls that work across various screen sizes.
    </p>
    
    <p>
        Currently I’m implementing features based on set requirements as they arise.
    </p>
    
    <p>
        Working with Staffpad has required that I’m able to keep track of my working hours and 
        communicate with people across many different time zones.
    </p>
</section>

<section>
    <h6>Independent Extrusions Ltd.</h6>
    <p class="small">April 2016 - Current • <a href="https://inex.co.nz/">Website</a> • Hamilton, NZ</p>

    <p>
        Built a few miscellaneous “scanning” mobile applications (initially running on Windows Phone 8.1, 
        then Windows 10 (W10), finally Android via Xamarin). These applications usually update a 
        database (SQL Server) via a local web service (ASP.NET) using stored procedures based on the 
        scanned input.
    </p>
    
    <p>
        Built a WPF application in collaboration with the Database Administrator to help simplify 
        aspects of the existing extrusion software for users. Consists of several dedicated screens 
        that either serve a single purpose, or work together.
    </p>
    
    <p>More details can be provided upon request.</p>
    
    <ul>
        <li><p><b>Windows Phone:</b> Scanner apps using custom Windows Phones with built in barcode scanners. </p></li>
        <li><p><b>UWP:</b> Windows 10 Mobile scanners / weight scale reader. Interacts with webservice which talks to a database.</p></li>
        <li><p><b>WPF:</b> User App, heavily interacts with database via dapper. Uses custom SQL queries and existing stored procedures. Auto deployment via click once and Azure DevOps, sorting of information, live updating of tables, keeping information in sync between multiple users.</p></li>
        <li><p><b>ASP.NET:</b> Help support existing ASP.NET MVC project by adding controllers, adjusting functionality, redeploying the website etc.</p></li>
        <li><p><b>Azure DevOps:</b> Source code hosting, nuget package hosting, CI, CD.</p></li>
    </ul>
</section>

<section>
    <h6>Independent Extrusions Ltd.</h6>
    <p class="small">December 2015 - April 2016 • <a href="https://inex.co.nz/">Website</a> • Hamilton, NZ</p>
    <p>
        Part time work during the school holidays painting and cleaning factory floors and equipment.
    </p>
</section>

<section>
    <h1>Apps</h1>
    <h6>SoundByte</h6>
    <p class="small">December 2015 - Janurury 2020 <em>(in hiatus)</em> • <a href="https://soundbytemedia.com">Website</a></p>
    <p>Originally built as a UWP 3rd party SoundCloud client for Windows Phone in 2016. Later extended to desktop and Xbox One in 2017, and then further extended in 2018 to support other music services such as YouTube and Fanburst</p>

    <p>
        SoundByte could be described as a test platform where I put my skills and new ideas to use. 
        The application is split into two parts, the front end application and the backend server.
    </p>
    
    <p>
        The front-end application is a standard <strong>UWP</strong> app that can run on Windows 10 devices 
        and Xbox. The user experience is adjusted according to the platform the app is running on.
    </p>
    
    <p>
        The back-end server runs on a dedicated VPS running <strong>docker</strong>. One container is 
        for the <strong>ASP.NET Core</strong> website and another for <strong>SQL Server</strong>. The website makes
        use of <strong>ASP.NET Core Identity</strong> to handle user accounts and <strong>Identity Server</strong> for
        OAuth support for the front-end application. It both provides a front end website
        for users to visit and an API for the application to use.
    </p>
    
    <p>
        Both the back-end and app use Azure DevOps (<strong>Azure Pipelines</strong>) for continuous 
        integration (CI) to ensure changes made to the applications don’t break anything.
    </p>
    
    <p>During the end of 2019 I started work on overhauling this application using 
        <strong>MVVM Cross</strong> and <strong>Xamarin Native</strong>.</p>
    
    <ul>
        <li><p>Windows 10 + Xbox Once app written in C# and XAML using the UWP framework</p></li>
        <li><p>iOS app written in C# using Xamarin Native (and the native iOS UI libraries)</p></li>
        <li><p>Website written in C# using ASP.NET Core 3, Entity Framework Core and SignalR</p></li>
        <li><p>Uncompleted rewritten apps share common code in form of a cross platform .NET Standard library (using Mvvmcross)</p></li>
    </ul>
</section>

<section>
    <h6>Cities Skylines: Multiplayer</h6>
    <p>
        An open source Cities: Skylines multiplayer mod that aims to
        provide an easy to use multiplayer system for Cities: Skylines
    </p>
</section>

<section>
    <h6>Timeline Extension</h6>
    <p>
        A Windows Timeline and Project Rome extension for
        Google Chrome and other browsers
    </p>
</section>

<section>
    <h6>Space Chunks</h6>
    <p>
        An experimental voxel game engine + game that I developed
        to understand how voxel based worlds are generated and basic
        c++ / game programming
    </p>
</section>

<section>
    <h1>Interests</h1>
    <ul>
        <li><p>Photography</p></li>
        <li><p>Astronomy</p></li>
        <li><p>Running (sometimes)</p></li>
    </ul>
</section>
