@page "{code}"
@model Website.Pages.Errors

@{
    ViewData["Title"] = "Error " + ViewData.Model.Code;
}

<section>
    <h2>Error @Model.Code</h2>
    <p>Something went wrong <i class="fal fa-frown"></i></p>
</section>
