@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<section>
    <h3>An error occurred while processing your request</h3>
    
    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
</section>
