@page
@model Website.Pages.ExperienceModel
@{
    ViewData["Title"] = "Education & Experience";
}

<div>
    <h1>
        <a href="/">
            <i class="far fa-chevron-left left"></i>Education & Experience
        </a>
    </h1>
    <ul class="large-spacing">
        <li>
            <a href="/experience/inex">Independent Extrusions Ltd.</a>
            <p class="intro">2016 - Current</p>
        </li>
        <li>
            <a href="/experience/inex">University of Waikato</a>
            <p class="intro">2018 - Current</p>
        </li>
        <li>
            <a href="/experience/inex">Melville High School</a>
            <p class="intro">2013 - 2017</p>
        </li>
    </ul>
</div>

