@page
@model IndexModel
@{
    ViewData["Title"] = "Dominic Maas";
}

    <div>
        <h1>Dominic Maas</h1>

        <p class="intro">
            Computer Science Student studying at the
            <a href="https://www.waikato.ac.nz/">University of Waikato</a>
        </p>

        <p class="intro">
            UWP & WPF app developer, currently learning
            <a href="https://docs.microsoft.com/en-us/xamarin/">Xamarin</a>
        </p>

        <ul>
            <li>
                <a href="/projects">Personal apps &amp; websites</a>
            </li>
            <li>
                <a href="/university">University projects</a>
            </li>
            <li>
                <a href="/experience">Education & experience</a>
            </li>
            <li>
                <a href="/contact">Get in contact</a>
            </li>
        </ul>
    </div>