@page
@model IndexModel
@{
    ViewData["Title"] = "Dominic Maas";
}

<section>
    <p>
        Hi, my name is Dominic. I'm a Computer Science Student studying at the
        <a href="https://www.waikato.ac.nz/">University of Waikato</a>, and a UWP / WPF app developer, currently learning
        <a href="https://docs.microsoft.com/en-us/xamarin/">Xamarin</a>.
    </p>
    
    <p>Check out what I've worked on <a href="/cv">here</a>.</p>

    <p><a href="mailto:dominic.maas@live.com">Send me an email</a> </p>

    <p><a href="https://github.com/DominicMaas">Visit my GitHub profile</a></p>
</section>
