@page
@model IndexModel
@{
    ViewData["Title"] = "Dominic Maas";
}

<section>
    <div class="pure-g">
        <div class="pure-u-1-5 l-box">
            <img class="pure-img profile-image" src="images/profile.jpeg" alt="Profile Picture" />
        </div>
        <div class="pure-u-4-5 l-box">
            <p>
                Hello, my name is Dominic. I'm primarily a .NET developer focusing on UWP &amp; WPF, and a Computer Science Student studying at the
                <a href="https://www.waikato.ac.nz/">University of Waikato</a>.
            </p>
            <p>Check out what I've worked on <a href="/cv">here</a>, or <a href="/contact">contact me</a>.</p>
            <p class="text-faded">(yes, the lens cap is on)</p>
        </div>
    </div>
</section>
