@page
@model Website.Pages.NeatStuff

@{
    ViewData["Title"] = "Neat Stuff";
}

<section>
    <p>This page contains a collection of neat resources that I have found or try keep up with.</p>
</section>

<section>
    <h2>SpaceX Starship</h2>
    
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/s1HA9LlFNM0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br>
    
    <p>
        Starship is a space launch system designed for <a href="https://www.spacex.com/vehicles/starship/">service to earth orbit, moon, mars and beyond</a>.
        What makes Starship unique is that it's being designed and built as the worlds first rapidly reusable orbital 
        launch system, and (mostly) all in the open!
    </p>
    <p>
        The <a href="https://forum.nasaspaceflight.com/index.php?topic=52398.10000#lastPost">NASA Spaceflight forum</a> documents 
        the development &amp; build process for these Starships, you can watch SpaceX building massive ships destined for Mars in realtime!
    </p>
    <p>
        The SpaceX Starship Development <a href="https://www.reddit.com/r/spacex/comments/jtvex0/starship_development_thread_16/">subreddit thread</a> is another great resource to keep up to date with Starship development.
    </p>
</section>