@page
@model Website.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}

<h1>Privacy</h1>

<section>
    <h2>Privacy Policy</h2>
    <p>todo</p>
</section>

<section>
    <h2>Lensinator</h2>
    <ul class="large-spacing">
        <li>
            <h3>Introduction</h3>
            <p>
                The image, voice, video or text understanding capabilities of the Lensinator app uses Microsoft Cognitive Services.
                Microsoft will receive the images, audio, video, and other data that you upload (via this app) for service improvement purposes.
                To report abuse of the Microsoft Cognitive Services to Microsoft, please visit the Microsoft Cognitive Services website at
                <a href="https://www.microsoft.com/cognitive-services">https://www.microsoft.com/cognitive-services</a>, and use the “Report Abuse” link
                at the bottom of the page to contact Microsoft. For more information about Microsoft privacy policies please see their privacy statement
                here: <a href="https://go.microsoft.com/fwlink/?LinkId=521839">https://go.microsoft.com/fwlink/?LinkId=521839</a>.
            </p>
        </li>

        <li>
            <p><b>Last Updated:</b> 1 August 2017</p>
        </li>
    </ul>
</section>

<section>
    <h2>XKCD Explorer</h2>
    <ul class="large-spacing">
        <li>
            <h3>Introduction</h3>
            <p>
                XKCD Explorer uses the internet connection for downloading comic data, and sending telemetry usage.
                To view more information about these reasons, read below. This application does not collect or transmit
                any of the users personally identifiable information.
            </p>
        </li>

        <li>
            <h3>Anonymous Telemetry</h3>
            <p>
                App Telemetry is sent to two services, Hockey App and Visual Studio Application Insights. Telemetry is used to fix problems in the app before they become more widespread, telemetry also help us figure out what features are being used, and what features need to be changed or improved. Please Note: Telemetry is completely anonymous, no personally identifiable information is transmitted.
            </p>
        </li>

        <li>
            <h3>Favorited Comic Storage</h3>
            <p>
                XKCD Web Comics that have been favorited by the user, have their comic numbers saved in a JSON (JavaScript Object Notation) file named XKCD_Favourites. This file is saved in the apps Roaming folder which is synced across all devices that are logged into the current Microsoft Account. This file does not contain any personally identifiable information.
            </p>
        </li>

        <li>
            <h3>Technical Information</h3>
            <p>
                Some technical information is sent such as IP addresses included in the HTTP calls the application makes when downloading comic data.
            </p>
        </li>

        <li>
            <p><b>Last Updated:</b> 26 May 2017</p>
        </li>
    </ul>
</section>