@page
@model Website.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<div>
    <h1>
        <a href="/">
            <i class="far fa-chevron-left left"></i>Projects
        </a>
    </h1>
    <ul class="large-spacing">
        <li>
            <a href="/projects/soundbyte">SoundByte</a>
            <p class="intro">
                Originally a SoundCloud client built for Windows 10 mobile, SoundByte is
                now available on Windows 10, Xbox One and supports multiple music services
                such as YouTube
            </p>
            <p class="intro">An iOS version is currently being built using Xamarin Forms</p>
        </li>
        <li>
            <a href="/projects/csm">Cities Skylines: Multiplayer</a>
            <p class="intro">
                An open source Cities: Skylines multiplayer mod that aims to
                provide an easy to use multiplayer system for Cities: Skylines
            </p>
        </li>
        <li>
            <a href="/projects/timeline-extension">Timeline Extension</a>
            <p class="intro">
                A Windows Timeline and Project Rome extension for
                Google Chrome and other browsers
            </p>
        </li>
        <li>
            <a href="/projects/space-chunks">Space Chunks</a>
            <p class="intro">
                An experimental voxel game engine + game that I developed
                to understand how voxel based worlds are generated and basic
                c++ / game programming
            </p>
        </li>
        <li>
            <a href="/projects/yourhub">YourHub</a>
            <p class="intro">
                todo
            </p>
        </li>
    </ul>
</div>

