html, body {
    color: #FFF;
    background-color: #121212;
}

body {
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px
}

.intro {
    color: #ccc;
    font-weight: 400;
    font-size: 1.5em;
    margin-top: 0.2em;
    margin-bottom: 0em;
}

.footer-text {
    opacity: 0.4;
    margin-top: 1.8em;
}

.large-spacing li {
    margin-bottom: 2.5em;
}

nav ul {
    list-style-type: none;
}

    nav ul li {
        margin-top: 3.5em;
        display: inline-block;
        margin-right: 2em;
    }

        nav ul li a {
            color: #444;
            font-weight: 800;
            font-size: 2.0em;
        }

a {
    font-weight: 700;
    font-size: 1.2em;
    color: #999;
    transition: color 150ms ease-in-out;
    text-decoration: none;
}

    a:hover {
        color: #574b90;
    }

    a:focus {
        color: #574b90;
        outline: none;
    }

section {
    margin-top: 2.6em;
}

p {
    color: #ccc;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 0.8em;
}

    p b {
        color: #fff;
    }

h1 {
    font-weight: 900;
    font-size: 4em;
    margin-top: 0.1em;
    margin-bottom: 0em;
}

h2 {
    margin-top: 0.3em;
    font-size: 3.0em;
    font-weight: 800;
    color: #DDD;
    margin-bottom: 0em;
}

h3 {
    margin-top: 0.3em;
    color: #BBB;
    font-size: 2.75em;
    font-weight: 700;
    margin-bottom: 0em;
}

h4 {
    margin-top: 0.3em;
    color: #999;
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 0em;
}

h5 {
    margin-top: 0.3em;
    color: #777;
    font-size: 2.25em;
    font-weight: 500;
    margin-bottom: 0em;
}

h6 {
    margin-top: 0.3em;
    font-size: 2em;
    font-weight: 400;
    color: #555;
    margin-bottom: 0em;
}

h1 a {
    color: #FFF;
    font-weight: 900;
}

    h1 a:hover {
        color: #AAA;
    }

    h1 a:focus {
        color: #AAA;
        outline: none;
    }

    h1 a .left {
        margin-right: 0.4em;
    }

    h1 a.right {
        margin-left: 1.2em;
    }

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    ul li {
        margin-top: 1em;
    }

        ul li p {
            margin: 0em;
            margin-bottom: 0.2em;
        }

/*ul li a {
            color: #666;
            font-weight: 700;
            font-size: 3.4em;
        }

            ul li a:hover {
                color: #574b90;
            }

            ul li a:focus {
                color: #574b90;
                outline: none;
            }*/

@media only screen and (max-width: 1030px) {
    .container {
        width: calc(100% - 1em);
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .intro {
        font-size: 1.2em;
    }

    h1 {
        font-size: 3em;
        margin-top: 0.5em;
        margin-bottom: 0em;
    }

    ul li a {
        font-size: 2.4em;
    }
}

.pure-table {
    margin-top: 0.6em !important;
}

.pure-table-horizontal td, .pure-table-horizontal th {
    border-bottom: 1px solid #1A1A1A !important;
}

.pure-table td, .pure-table th {
    border-left: 1px solid #1A1A1A !important;
}

.pure-table thead {
    background-color: #101010 !important;
    color: #FFF !important;
}

.pure-table {
    border: 1px solid #1A1A1A !important;
}

.pure-table-striped tr:nth-child(2n-1) td {
    background-color: #151515 !important;
}

.date {
    color: #bbc3c8;
    background: #292929;
    display: inline-block;
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 20px 18px;
    padding: 10px 12px 8px;
    position: absolute;
    bottom: -36px;
}

.small {
    font-size: 1em;
    color: #666;
    font-weight: 800;
}
