@page
@model Website.Pages.Pages.IndexModel

@{
    ViewData["Title"] = "Pages";
}

<h1>Pages</h1>

<p>A collection of misc pages. These will eventually be turned into a blog or sorts when I finish building the backend :)</p>

<section>
    <div class="card card-background">
        <p class="card-title"><a href="/pages/blog">Blog</a></p>
        <p>Some notes about how I want to design the blog on this site</p>
    </div>

    <div class="card card-background">
        <p class="card-title"><a href="/pages/password-manager">Password Manager</a></p>
        <p>A password manager for my third COMPX518 assignment</p>
    </div>

    <div class="card card-background">
        <p class="card-title"><a href="/pages/pc">PC Setup</a></p>
    </div>

    <div class="card card-background">
        <p class="card-title"><a href="/pages/quotes">Quotes</a></p>
        <p>Some quotes that particularly resonate with me</p>
    </div>

    <div class="card card-background" hx-boost="false">
        <p class="card-title"><a href="/pages/pico-filesystem-littlefs">Raspberry Pi Pico File System via LittleFS</a></p>
        <p>How to use the built in ROM of the Raspberry Pi Pico as a file system using LittleFS</p>
    </div>
</section>