@page
@model PCModel
@{
    ViewData["Title"] = "PC Setup";
}

<h1>@ViewData["Title"]</h1>
<p>My current PC setup and a history of this setup. More of a personal history reminder for myself. I've separated my PC builds into different generations, usually separated by the CPU / motherboard platform. </p>

<section>
    <h2>Current Setup</h2>
    <p>My current setup was born in 2016 with the release of the AMD Ryzen Processors. Although as with the ship of theseus, no original components remain.</p>

    <p>
        <strong>Case &#10140; </strong>Phanteks Eclipse P350X <br />
        <strong>Motherboard &#10140; </strong>Asus Prime B450-PLUS <br />
        <strong>CPU &#10140; </strong>AMD Ryzen 5 5600X <br />
        <strong>GPU &#10140; </strong>NVIDIA GeForce RTX 3070 <br />
        <strong>RAM &#10140; </strong>64GB DDR4 @@ 3600 MHz <br />
        <strong>Storage &#10140; </strong> Samsung 970 Evo Plus @@ 500GB, 2 Crucial BX500 @@ 1TB each
    </p>

    <h3>History</h3>

    <h5>September 2023</h5>
    <p><strong>RAM: </strong>32GB DDR4 @@ 3200 MHz &#10140; 64GB DDR4 @@ 3600 MHz</p>

    <h5>April 2021</h5>
    <p><strong>CPU: </strong>AMD Ryzen 7 1700X &#10140; AMD Ryzen 5 5600X</p>

    <h5>November 2020</h5>
    <p><strong>GPU: </strong>AMD Radeon RX 580 &#10140; NVIDIA GeForce RTX 3070</p>

    <h5>July 2019</h5>
    <p><strong>Case: </strong>Phanteks Enthoo Pro M &#10140; Phanteks Eclipse P350X</p>

    <h5>May 2019</h5>
    <p><strong>Storage: </strong>+ Samsung 970 Evo Plus @@ 500GB</p>

    <h5>November 2018</h5>
    <p><strong>Motherboard: </strong>Gigabyte AB350-GAMING3 &#10140; Asus Prime B450-PLUS</p>

    <h5>November 2017</h5>
    <p><strong>Motherboard: </strong>AMD R9 270X &#10140; AMD Radeon RX 580</p>
</section>

<section>
    <h2>Current Peripherals</h2>

    <p>
        <strong>Monitors &#10140; </strong>Dell UltraSharp U2720Q &amp; Samsung UHD U28E590
    </p>
</section>

<section>
    <h2>Previous Setups</h2>

    <h3>GPUs</h3>

    <p>AMD Radeon RX 580 ?</p>
    <p>AMD Radeon R9 270X ?</p>
    <p>AMD Radeon HD 6450 ?</p>

    <h3>CPUs</h3>

    <p>AMD FX-8350</p>

    <p>AMD Phenom II X4 965 Black Edition</p>

    <p>AMD Sempron LE-1150 ?</p>

    <p>AMD Athlon XP 2000+</p>
</section>
