@page
@model Website.Pages.Pages.QuotesModel
@{
    ViewData["Title"] = "Quotes";
}

<h1>@ViewData["Title"]</h1>
<p>Some quotes that particularly resonate with me</p>

<div class="card">
    <small><a href="https://twitter.com/AlexAndBooks_/status/1446883211393503232">Alex &amp; Books</a></small>

        <p class="card-text">
        <em>If you're overthinking, write. If you're underthinking, read.</em>
        </p>

</div>
