@page
@model Website.Pages.Pages.RunningModel
@{
    ViewData["Title"] = "Running";
}

<h1>@ViewData["Title"]</h1>

<h3>Half Marathon Results</h3>

<table class="pure-table pure-table-horizontal pure-table-striped stretch">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Race</th>
            <th scope="col">Time</th>
            <th scope="col">Pace</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>19 May 2024</td>
            <td>Huntly Half</td>
            <td>1:41:25</td>
            <td>4:48</td>
        </tr>
        <tr>
            <td>14 April 2024</td>
            <td>Long Course Weekend (Half Distance)</td>
            <td>1:46:12</td>
            <td>5:02</td>
        </tr>
        <tr>
            <td>2 March 2024</td>
            <td>Taupo 70.3 (Relay)</td>
            <td>1:40:44</td>
            <td>4:46</td>
        </tr>
        <tr>
            <td>20 January 2024</td>
            <td>Mount Festival of Multisport </td>
            <td>1:46:02</td>
            <td>5:02</td>
        </tr>

        <tr>
            <td>24 September 2023</td>
            <td>Cambridge Half Marathon</td>
            <td>1:55:07</td>
            <td>5:27</td>
        </tr>

        <tr>
            <td>21 August 2021</td>
            <td><em>Virtual</em> </td>
            <td>2:04:01</td>
            <td>5:52</td>
        </tr>
    </tbody>
</table>

<br />
<h3>Marathon Results</h3>

<table class="pure-table pure-table-horizontal pure-table-striped stretch">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Race</th>
            <th scope="col">Time</th>
            <th scope="col">Pace</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>29 October 2023</td>
            <td>Auckland Marathon</td>
            <td>04:11:28</td>
            <td>5:58</td>
        </tr>
    </tbody>
</table>
