:root {
    --color-background: radial-gradient(ellipse at top, rgba(29,29,34,1) 0%, rgba(19,19,24,1) 100%);
    --color-card: rgba(0, 0, 0, 0.15);
    --color-card-border: rgba(0, 0, 0, 0.35);
    --color-card-hover: rgba(0, 0, 0, 0.25);
    --color-card-border-hover: rgba(0, 0, 0, 0.65);
    --color-text: #DDDDDD;
    --color-body-text: var(--color-text);
    --color-heading-lg-text: #EEEEEE;
    --color-heading-sm-text: #DDDDDD;
    --color-accent: #769ECB;
    --color-bold: #FFFFFF;
    --color-profile-border: var(--color-bold);
    --color-nav-link: #888;
    --color-small: #666666;
    --color-link: var(--color-accent);
    --color-link-2: #9DBAD5;
    --color-link-twitter: #1DA1F2;
    --color-link-2-twitter: #8ED0F8;
    --color-link-github: #F4CBB2;
    --color-link-2-github: #F9E4D8;
    --color-table-border: var(--color-card-border);
    --color-table-header-background: var(--color-card-hover);
    --color-table-header-text: var(--color-bold);
    --color-table-background: var(--color-background);
    --color-table-alt-background: var(--color-card);
    --color-footer-border: #2a2a2f;
    --font-body: 'Inter', sans-serif;
    --font-headings: 'Raleway', serif;
}

/*@media (prefers-color-scheme: light) {
    :root {
        --color-background: #fafaf6;
        --color-card: rgba(255, 255, 255, 0.5);
        --color-card-border: rgba(0, 0, 0, 0.15);
        --color-card-hover: rgba(255, 255, 255, 1.0);
        --color-card-border-hover: rgba(0, 0, 0, 0.3);
        --color-text: #131313;
        --color-heading-lg-text: #333333;
        --color-heading-sm-text: #444444;
        --color-bold: #000000;
        --color-nav-link: #555;
        --color-small: #777;
        --color-table-border: #DDD;
        --color-table-header-background: #EFEFEF;
        --color-table-alt-background: #F9F9F9;
        --color-footer-border: #e1e1dd;
    }
}*/

html {
    overflow-y: scroll;
}

html, body {
    color: var(--color-text);
    font-family: var(--font-body);
    font-weight: 500;
    background: var(--color-background);
    background-attachment: fixed;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Top of page */

.header {
    font-family: var(--font-headings);
    margin-bottom: 2em;
    font-weight: 700;
}

.page-title {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--color-body-text);
    padding-top: 0.8em;
    margin-bottom: 0.2em;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

    nav ul li {
        display: inline-block;
        margin: 0;
        margin-right: 1.4em;
    }

        nav ul li a {
            color: var(--color-nav-link);
            font-weight: 700;
            font-family: var(--font-body);
            font-size: 1.35em;
            padding: 0.2em 0.3em;
            margin: -0.2em -0.3em;
            border-radius: 8px;
            border: 1px solid transparent;
            transition: background-color ease-in-out 150ms, border-color ease-in-out 150ms;
        }

            nav ul li a:hover {
                background-color: var(--color-card-hover);
                border-color: var(--color-card-border-hover);
            }

        nav ul li .a:focus {
            background-color: var(--color-card-hover);
            border-color: var(--color-card-border-hover);
        }

        nav ul li .active {
            color: var(--color-link);
            background-color: var(--color-card-hover);
            border-color: var(--color-card-border-hover);
        }

        nav ul li a > .i-holder {
            width: 1.6em !important;
            text-align: left !important;
            display: inline-block !important;
            font-size: 0.9em;
        }



/* Content */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 59em;
}

section {
    margin-bottom: 2.6em;
}

.card {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    margin-left: -1.2em;
    margin-right: -1.2em;
    padding: 1.2em;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: background-color ease-in-out 150ms, border-color ease-in-out 150ms;
}

    .card-background {
        background-color: var(--color-card);
        border-color: var(--color-card-border);
    }

    .card-hoverable:hover {
        background-color: var(--color-card-hover);
        border-color: var(--color-card-border-hover);
    }

    .card > small {
        opacity: 0.6;
        margin-bottom: 0.1em;
    }

    .card > .card-title {
        margin:0;
        opacity: 1.0;
        font-weight: 700;
        font-size: 1.6em;
    }

    .card p {
        margin: 0;
        margin-top: 0.1em;
        opacity: 0.8;
        font-size: 1.1em;
    }

a {
    text-decoration: none;
    color: var(--color-body-text);
}

p {
    color: var(--color-body-text);
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 0.8em;
    margin-top: 0;
    line-height: 1.5;
}

    p b {
        color: var(--color-bold);
    }

    p a {
        font-weight: 700;
        color: var(--color-link);
        text-decoration: none;
        padding: 0.1em 0.2em;
        margin: -0.1em -0.2em;
        border-radius: 8px;
        transition: color ease-in-out 150ms, background-color ease-in-out 150ms;
    }

        p a:hover {
            color: var(--color-link-2);
            background-color: var(--color-card-hover);
        }

        p a:focus {
            color: var(--color-link-2);
            background-color: var(--color-card-hover);
            outline: none;
        }

/* HEADERS */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: var(--font-headings);
    margin-bottom: 0.2em;
}

h1 {
    margin-bottom: 0.4em;
    font-weight: 800;
    font-size: 3.25em;
    color: var(--color-heading-lg-text);
}

h2 {
    font-size: 2.75em;
    font-weight: 800;
    color: var(--color-heading-lg-text);
}

h3 {
    color: var(--color-heading-lg-text);
    font-size: 2.5em;
    font-weight: 800;
}

h4 {
    color: var(--color-heading-sm-text);
    font-size: 2.25em;
    font-weight: 700;
}

h5 {
    color: var(--color-heading-sm-text);
    font-size: 2.0em;
    font-weight: 700;
}

h6 {
    font-size: 1.75em;
    font-weight: 700;
    color: var(--color-heading-sm-text);
    margin-bottom: 5px;
}

ul {
    margin: 0;
    padding: 0;
    margin-left: 18px;
}

    ul li p {
        margin: 0em;
        margin-bottom: 0.2em;
    }

@media screen and (max-width: 64em) {
    .container {
        width: calc(100% - 5em);
        margin-left: 2.5em;
        margin-right: 2.5em;
    }

    nav ul li {
        margin-bottom: 0.9em;
    }

    .header {
        margin-bottom: 1.1em;
    }

    h1 {
        font-size: 2.75em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2.25em;
    }

    h4 {
        font-size: 2.0em;
    }

    h5 {
        font-size: 1.75em;
    }

    h6 {
        font-size: 1.5em;
    }

    footer > #footer_icons li {
        margin: 0.6em 0.8em 0 0.8em;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 35.5em) {
    body {
        font-size: 0.9em;
    }

    nav ul li {
        display: block;
        margin: 0 0 1.2em 0;
        font-size: 1.3em;
    }

        nav ul li a {
        }


    .profile-image {
        margin: 0 0 2.5em;
    }

    .profile-image-holder {
        margin: 0;
    }

    .page-title {
        margin-bottom:0.8em;
    }
}

.pure-table {
    margin-top: 0.6em !important;
}

.pure-table-horizontal td, .pure-table-horizontal th {
    border-bottom: 1px solid var(--color-table-border) !important;
}

.pure-table td, .pure-table th {
    border-left: 1px solid var(--color-table-border) !important;
}

.pure-table thead {
    background-color: var(--color-table-header-background) !important;
    color: var(--color-table-header-text) !important;
}

.pure-table th {
    background-color: var(--color-table-header-background) !important;
    color: var(--color-table-header-text) !important;
}

.pure-table {
    border: 1px solid var(--color-table-border) !important;
}

.pure-table-striped tr td {
    background-color: var(--color-table-background) !important;
}

.pure-table-striped tr:nth-child(2n-1) td {
    background-color: var(--color-table-alt-background) !important;
}

.small {
    font-size: 1em;
    color: var(--color-small);
    font-weight: 800;
}

hr {
    border: 0;
    border-top: 1px solid var(--color-footer-border);
}

footer {
    border-top: 1px solid var(--color-footer-border);
    margin-top: 1.5em;
    margin-bottom: 2em;
    text-align: center;
}

    footer > #footer_links {
        margin-top: 2em;
    }

        footer > #footer_links li a {
            color: var(--color-nav-link);
            transition: color ease-in-out 150ms;
        }

            footer > #footer_links li a:hover {
                color: var(--color-link-2);
            }

        footer > #footer_links li .a:focus {
            color: var(--color-link-2);
        }

        footer > #footer_links li .active {
            color: var(--color-link);
        }

    footer > small {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        opacity: 0.6;
    }

    footer ul {
        list-style-type: none;
        margin: 0;
    }

        footer ul li {
            display: inline-block;
            margin: 0 0.2em;
        }

.twitter {
    color: var(--color-link-twitter);
    transition: color ease-in-out 150ms;
}

    .twitter:hover, .twitter:focus {
        color: var(--color-link-2-twitter);
    }

.github {
    color: var(--color-link-github);
    transition: color ease-in-out 150ms;
}

    .github:hover, .github:focus {
        color: var(--color-link-2-github);
    }

.image {
    border-radius: 12px;
    border: 3px solid var(--color-profile-border);
}

.profile-image {
    border-radius: 50%;
    border: 3px solid var(--color-profile-border);

    transition: border-color 150ms ease-in-out;
}

    .profile-image:hover {
        border: 3px solid var(--color-accent);
    }

.profile-image-holder {
    margin: 0;
    margin-right: 2em;
}

.pure-g > div {
    box-sizing: border-box;
}

.l-box {
    padding: 1em;
}

.text-faded {
    opacity: 0.6;
    font-style: italic;
    font-size: 1.1em;
}

/* 2 columns by default */
.image-sizer,
.image-item {
    width: calc(50% - 20px);
    margin-bottom: 10px;
}

    .image-item img {
        border-radius: 12px;
        cursor: pointer;
        transition: filter 150ms ease-in-out;
    }

        .image-item img:hover {
            filter: brightness(0.6);
        }

@media screen and (max-width: 35.5em) {
    /* 3 columns for larger screens */
    .image-sizer,
    .image-item {
        width: calc(33.333% - 30px);
    }
}

.pure-button-primary {
    background-color: var(--color-link) !important;
    font-weight: 600;
    color: #FFF;
}

    .pure-button-primary:hover {
        background-color: var(--color-link-2);
        font-weight: 600;
        color: #FFF;
    }


.gallery {
    column-count: 2;
    column-gap: .8em;
    max-width: 980px;
    margin: auto;
    width: 100%;
}

    .gallery img {
        width: 100%;
        margin: 0;
        margin-bottom: .4em;
        height: auto;
        max-width: 100%;
    }