/* ---------- Fonts ---------- */

/* raleway-700 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''), url('../fonts/raleway-v26-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/raleway-v26-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-800 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local(''), url('../fonts/raleway-v26-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/raleway-v26-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-regular - latin */
@font-face {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''), url('../fonts/inter-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''), url('../fonts/inter-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    color-scheme: dark;

    --color-background: #121212;
    --color-card: rgba(40, 40, 40, 0.35);
    --color-card-border: rgba(50, 50, 50, 0.55);
    --color-card-hover: rgba(40, 40, 40, 0.55);
    --color-card-border-hover: rgba(50, 50, 50, 0.65);
    --color-text: #EAEAEA;
    --color-body-text: var(--color-text);
    --color-heading-lg-text: #EEEEEE;
    --color-heading-sm-text: #EAEAEA;
    --color-accent: #769ECB;
    --color-bold: #FFFFFF;
    --color-profile-border: var(--color-bold);
    --color-nav-link: #888;
    --color-small: #666666;
    --color-link: var(--color-accent);
    --color-link-2: #9DBAD5;
    --color-link-twitter: #1DA1F2;
    --color-link-2-twitter: #8ED0F8;
    --color-link-github: #F4CBB2;
    --color-link-2-github: #F9E4D8;
    --color-table-border: var(--color-card-border);
    --color-table-header-background: var(--color-card-hover);
    --color-table-header-text: var(--color-bold);
    --color-table-background: var(--color-background);
    --color-table-alt-background: var(--color-card);
    --color-footer-border: #2a2a2f;
    --color-shadow: rgba(11, 11, 11, 0.8);
    --color-shadow-hover: rgba(6, 6, 6, 0.8);
    --font-body: Inter, sans-serif;
    --font-headings: Raleway, sans-serif;
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;

        --color-background: #EFEFEF;
        --color-card: rgba(255, 255, 255, 0.5);
        --color-card-border: rgba(0, 0, 0, 0.15);
        --color-card-hover: rgba(255, 255, 255, 1.0);
        --color-card-border-hover: rgba(0, 0, 0, 0.3);
        --color-text: #131313;
        --color-heading-lg-text: #222222;
        --color-heading-sm-text: #333333;
        --color-accent: #4376b0;
        --color-bold: #000000;
        --color-nav-link: #444;
        --color-small: #333;
        --color-link-2: #4c80bb;
        --color-link-twitter: #1DA1F2;
        --color-link-2-twitter: #8ED0F8;
        --color-link-github: #000000;
        --color-link-2-github: #333333;
        --color-table-border: #DDD;
        --color-table-header-background: #EFEFEF;
        --color-table-alt-background: #F9F9F9;
        --color-footer-border: #e1e1dd;
        --color-shadow: rgba(99, 99, 99, 0.2);
        --color-shadow-hover: rgba(99, 99, 99, 0.4);
    }
}

html {
    overflow-y: scroll;
}

html, body {
    color: var(--color-text);
    font-family: var(--font-body);
    font-weight: 400;
    background: var(--color-background);
    background-attachment: fixed;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
}

    .icon .fa-secondary {
        opacity: 0.6;
    }

/* Top of page */

.header {
    font-family: var(--font-headings);
    padding-bottom: 1.2em;
    margin-bottom: 0.8em;
    font-weight: 700;
    border-bottom: 1px solid var(--color-footer-border);
}

/* The 'Dominic Maas' header on the page */
.page-title {
    font-family: var(--font-headings);
    font-size: 2.5em;
    font-weight: 700;
    color: var(--color-body-text);
    padding-top: 0.8em;
    margin-bottom: 0.2em;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

    nav ul li {
        display: inline-block;
        margin: 0;
        margin-right: 1.4em;
    }

        nav ul li a {
            color: var(--color-nav-link);
            font-weight: 700;
            font-family: var(--font-body);
            font-size: 1.35em;
            transition: color ease-in-out 150ms;
        }

            nav ul li a:hover {
                color: var(--color-text);
            }

        nav ul li .a:focus {
            color: var(--color-text);
        }

        nav ul li .active {
            color: var(--color-link);
        }

        nav ul li a > .i-holder {
            margin-right: 0.4em !important;
            text-align: left !important;
            display: inline-block !important;
            font-size: 0.9em;
        }

/* Content */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 59em;
}

section {
    margin-bottom: 2.6em;
}

.card {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    margin-left: -1.2em;
    margin-right: -1.2em;
    padding: 1.2em;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: background-color ease-in-out 150ms, border-color ease-in-out 150ms, box-shadow ease-in-out 150ms;
}

.card-background {
    background-color: var(--color-card);
    border-color: var(--color-card-border);
}

.card-hoverable:hover {
    background-color: var(--color-card-hover);
    border-color: var(--color-card-border-hover);
    box-shadow: var(--color-shadow-hover) 0px 1px 4px 0px;
}

.card > small {
    opacity: 0.6;
    margin-bottom: 0.1em;
}

.card > .card-title {
    margin: 0;
    opacity: 1.0;
    font-weight: 700;
    font-size: 1.6em;
}

.card p {
    margin: 0;
    margin-top: 0.1em;
}

a {
    text-decoration: none;
    color: var(--color-body-text);
}

p {
    color: var(--color-body-text);
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom: 0.8em;
    margin-top: 0;
    line-height: 1.6;
}

    p b {
        color: var(--color-bold);
    }

    p a {
        font-weight: 700;
        color: var(--color-link);
        padding: 0.1em 0.2em;
        margin: -0.1em -0.2em;
        border-radius: 8px;
        transition: color ease-in-out 150ms, background-color ease-in-out 150ms;
    }

        p a:hover {
            color: var(--color-link-2);
            background-color: var(--color-card-hover);
        }

        p a:focus {
            color: var(--color-link-2);
            background-color: var(--color-card-hover);
            outline: none;
        }

/* HEADERS */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: var(--font-headings);
    margin-bottom: 0.2em;
    font-weight: 800;
}

h1 {
    font-size: 3.052rem;
    color: var(--color-heading-lg-text);
}

h2 {
    color: var(--color-heading-lg-text);
    font-size: 2.441rem;
}

h3 {
    color: var(--color-heading-lg-text);
    font-size: 1.953rem;
}

h4 {
    color: var(--color-heading-sm-text);
    font-size: 1.563rem;
}

h5 {
    color: var(--color-heading-sm-text);
    font-size: 1.25rem;
}

h6 {
    color: var(--color-heading-sm-text);
    font-size: 1rem;
}

ul {
    margin: 0;
    padding: 0;
    margin-left: 18px;
}

    ul li p {
        margin: 0em;
        margin-bottom: 0.2em;
    }

@media screen and (max-width: 64em) {
    .page-title {
        text-align: center;
        padding-top: 0.4em;
    }

    .container {
        width: calc(100% - 3em);
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    nav ul {
        text-align: center;
    }

        nav ul li {
            margin-bottom: 0.9em;
        }

    .header {
        margin-bottom: 1.1em;
    }

    h1 {
        font-size: 2.75em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2.25em;
    }

    h4 {
        font-size: 2.0em;
    }

    h5 {
        font-size: 1.75em;
    }

    h6 {
        font-size: 1.5em;
    }

    footer > #footer_icons li {
        margin: 0.6em 0.8em 0 0.8em;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 35.5em) {
    body {
        font-size: 0.9em;
    }

    nav ul li {
        display: block;
        margin: 0 0 1.2em 0;
        font-size: 1.3em;
    }

    .profile-image {
        margin: 0 0 2.5em;
    }

    .profile-image-holder {
        margin: 0;
    }

    .page-title {
        margin-bottom: 0.8em;
    }
}

.pure-table {
    margin-top: 0.6em !important;
    border: 1px solid var(--color-table-border) !important;
}

.pure-table-horizontal td, .pure-table-horizontal th {
    border-bottom: 1px solid var(--color-table-border) !important;
}

.pure-table td, .pure-table th {
    border-left: 1px solid var(--color-table-border) !important;
}

.pure-table thead {
    background-color: var(--color-table-header-background) !important;
    color: var(--color-table-header-text) !important;
}

.pure-table th {
    background-color: var(--color-table-header-background) !important;
    color: var(--color-table-header-text) !important;
}

.pure-table-striped tr td {
    background-color: var(--color-table-background) !important;
}

.pure-table-striped tr:nth-child(2n-1) td {
    background-color: var(--color-table-alt-background) !important;
}

/*.pure-table th:first-of-type {
    border-top-left-radius: 8px !important;
}

.pure-table th:last-of-type {
    border-top-right-radius: 8px !important;
}

.pure-table tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 8px !important;
}

.pure-table tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 8px !important;
}*/

.small {
    font-size: 1em;
    color: var(--color-small);
    font-weight: 800;
}

hr {
    border: 0;
    border-top: 1px solid var(--color-footer-border);
}

footer {
    border-top: 1px solid var(--color-footer-border);
    margin-top: 1.5em;
    margin-bottom: 2em;
    text-align: center;
}

    footer > #footer_links {
        margin-top: 2em;
    }

        footer > #footer_links li a {
            color: var(--color-nav-link);
            transition: color ease-in-out 150ms;
        }

            footer > #footer_links li a:hover {
                color: var(--color-link-2);
            }

        footer > #footer_links li .a:focus {
            color: var(--color-link-2);
        }

        footer > #footer_links li .active {
            color: var(--color-link);
        }

    footer > small {
        color: var(--color-small);
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    footer ul {
        list-style-type: none;
        margin: 0;
    }

        footer ul li {
            display: inline-block;
            margin: 0 0.2em;
        }

.twitter {
    color: var(--color-link-twitter);
    transition: color ease-in-out 150ms;
}

    .twitter:hover, .twitter:focus {
        color: var(--color-link-2-twitter);
    }

.github {
    color: var(--color-link-github);
    transition: color ease-in-out 150ms;
}

    .github:hover, .github:focus {
        color: var(--color-link-2-github);
    }

.image {
    border-radius: 8px;
    border: 1px solid var(--color-card-border);
    transition: border ease-in-out 150ms, box-shadow ease-in-out 150ms, filter 150ms ease-in-out;
}

    .image:hover {
        border: 1px solid var(--color-card-border-hover);
        box-shadow: var(--color-shadow-hover) 0px 4px 16px 0px;
        filter: brightness(0.8);
    }

.profile-image {
    border-radius: 50%;
}

.profile-image-holder {
    margin: 0;
    margin-right: 1.6em;
    float: left;
    width: 120px;
}

.pure-g > div {
    box-sizing: border-box;
}

.l-box {
    padding: 1em;
}

.text-faded {
    opacity: 0.6;
    font-style: italic;
    font-size: 1.1em;
}

.gallery {
    column-count: 2;
    column-gap: .8em;
    max-width: 980px;
    margin: auto;
    width: 100%;
}

    .gallery img {
        width: 100%;
        margin: 0;
        margin-bottom: .4em;
        height: auto;
        max-width: 100%;
    }

/* Custom GIST Theme */

body .gist .highlight {
    background: transparent;
}

body .gist .gist-file {
    border: 0;
}

body .gist .gist-data {
    border: 1px solid var(--color-card-border);
    border-radius: 8px 8px 0px 0px;
    background: transparent;
    background: var(--color-card);
}

body .gist .gist-meta {
    color: var(--color-body-text);
    border: 1px solid var(--color-card-border);
    border-top: 0;
    border-radius: 0px 0px 8px 8px;
    background: var(--color-card-hover);
}

    body .gist .gist-meta a {
        color: var(--color-body-text);
    }

body .gist .blob-num,
body .gist .blob-code-inner,
body .gist .highlight,
body .gist .pl-enm,
body .gist .pl-ko,
body .gist .pl-mo,
body .gist .pl-mp1 .pl-sf,
body .gist .pl-ms,
body .gist .pl-pdc1,
body .gist .pl-scp,
body .gist .pl-smc,
body .gist .pl-som,
body .gist .pl-va,
body .gist .pl-vpf,
body .gist .pl-vpu,
body .gist .pl-mdr {
    color: #aab1bf;
}

body .gist .pl-mb,
body .gist .pl-pdb {
    font-weight: 700;
}

body .gist .pl-c,
body .gist .pl-c span,
body .gist .pl-pdc {
    color: #5b6270;
    font-style: italic;
}

body .gist .pl-sr .pl-cce {
    color: #56b5c2;
    font-weight: 400;
}

body .gist .pl-ef,
body .gist .pl-en,
body .gist .pl-enf,
body .gist .pl-eoai,
body .gist .pl-kos,
body .gist .pl-mh .pl-pdh,
body .gist .pl-mr {
    color: #61afef;
}

body .gist .pl-ens,
body .gist .pl-vi {
    color: #be5046;
}

body .gist .pl-enti,
body .gist .pl-mai .pl-sf,
body .gist .pl-ml,
body .gist .pl-sf,
body .gist .pl-sr,
body .gist .pl-sr .pl-sra,
body .gist .pl-src,
body .gist .pl-st,
body .gist .pl-vo {
    color: #56b5c2;
}

body .gist .pl-eoi,
body .gist .pl-mri,
body .gist .pl-pds,
body .gist .pl-pse .pl-s1,
body .gist .pl-s,
body .gist .pl-s1 {
    color: #97c279;
}

body .gist .pl-k,
body .gist .pl-kolp,
body .gist .pl-mc,
body .gist .pl-pde {
    color: #c578dd;
}

body .gist .pl-mi,
body .gist .pl-pdi {
    color: #c578dd;
    font-style: italic;
}

body .gist .pl-mp,
body .gist .pl-stp {
    color: #818896;
}

body .gist .pl-mdh,
body .gist .pl-mdi,
body .gist .pl-mdr {
    font-weight: 400;
}

body .gist .pl-mdht,
body .gist .pl-mi1 {
    color: #97c279;
    background: #020;
}

body .gist .pl-md,
body .gist .pl-mdhf {
    color: #df6b75;
    background: #200;
}

body .gist .pl-corl {
    color: #df6b75;
    text-decoration: underline;
}

body .gist .pl-ib {
    background: #df6b75;
}

body .gist .pl-ii {
    background: #e0c184;
    color: #fff;
}

body .gist .pl-iu {
    background: #e05151;
}

body .gist .pl-ms1 {
    color: #aab1bf;
    background: #373b41;
}

body .gist .pl-c1,
body .gist .pl-cn,
body .gist .pl-e,
body .gist .pl-eoa,
body .gist .pl-eoac,
body .gist .pl-eoac .pl-pde,
body .gist .pl-kou,
body .gist .pl-mm,
body .gist .pl-mp .pl-s3,
body .gist .pl-mq,
body .gist .pl-s3,
body .gist .pl-sok,
body .gist .pl-sv,
body .gist .pl-mb {
    color: #d19965;
}

body .gist .pl-enc,
body .gist .pl-entc,
body .gist .pl-pse .pl-s2,
body .gist .pl-s2,
body .gist .pl-sc,
body .gist .pl-smp,
body .gist .pl-sr .pl-sre,
body .gist .pl-stj,
body .gist .pl-v,
body .gist .pl-pdb {
    color: #e4bf7a;
}

body .gist .pl-ent,
body .gist .pl-entl,
body .gist .pl-entm,
body .gist .pl-mh,
body .gist .pl-pdv,
body .gist .pl-smi,
body .gist .pl-sol,
body .gist .pl-mdh,
body .gist .pl-mdi {
    color: #df6b75;
}