:root {
    --color-background: #131318;
    --color-card: #232323;
    --color-text: #DDDDDD;
    --color-body-text: var(--color-text);
    --color-heading-lg-text: #EEEEEE;
    --color-heading-sm-text: #DDDDDD;
    --color-accent: #769ECB;

    --color-bold: #FFFFFF;
    
    --color-profile-border: var(--color-bold);
    
    --color-nav-link: #888;
    --color-small: #666666;
    
    --color-link: var(--color-accent);
    --color-link-2: #9DBAD5;

    --color-link-twitter: #1DA1F2;
    --color-link-2-twitter: #8ED0F8;
    
    --color-link-github: #F4CBB2;
    --color-link-2-github: #F9E4D8;
    
    --color-table-border: #343434;
    --color-table-header-background: #101010;
    --color-table-header-text: var(--color-bold);
    --color-table-background: var(--color-background);
    --color-table-alt-background: #151515;
    
    --color-footer-border: #2a2a2f;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-background: #fafaf6;
        --color-card: #ffffff;
        
        --color-text: #131313;
        --color-heading-lg-text: #333333;
        --color-heading-sm-text: #444444;
        
        --color-bold: #000000;

        --color-nav-link: #555;
        --color-small: #777;

        --color-table-border: #DDD;
        --color-table-header-background: #EFEFEF;
        --color-table-alt-background: #F9F9F9;

        --color-footer-border: #e1e1dd;
    }
}

html, body {
    color: var(--color-text);
    background-color: var(--color-background);
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Top of page */

.header {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2em;
    font-weight: 700;
}

.page-title {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--color-body-text);
    padding-top: 0.8em;
    margin-bottom: 0.2em;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0;
    margin-right: 1.4em;
}

nav ul li a {
    color: var(--color-nav-link);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.35em;
}

nav ul li a:hover {
    color: var(--color-link-2);
}

nav ul li .a:focus {
    color: var(--color-link-2);
}

nav ul li .active {
    color: var(--color-link);
}

nav ul li a > .i-holder {
    width: 30px !important;
    text-align: left !important;
    display:inline-block !important;
    font-size: 0.9em;
}

a {
    font-weight: 700;
    color: var(--color-link);
    transition: color 150ms ease-in-out;
    text-decoration: none;
}

a:hover {
    color: var(--color-link-2);
}

a:focus {
    color: var(--color-link-2);
    outline: none;
}
    
/* Content */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px
}

section {
    margin-bottom: 2.6em;
}

.card {
    background-color: var(--color-card);
    padding: 1.2em 1em;
    border-radius: 0.3em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

p {
    color: var(--color-body-text);
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 0.8em;
    margin-top: 0;
    line-height: 1.5;
}

p b {
    color: var(--color-bold);
}

/* HEADERS */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.2em;
}

h1 {
    font-weight: 800;
    font-size: 3.25em;
    color: var(--color-heading-lg-text);
}

h2 {
    font-size: 2.75em;
    font-weight: 800;
    color: var(--color-heading-lg-text);
}

h3 {
    color: var(--color-heading-lg-text);
    font-size: 2.5em;
    font-weight: 800;
}

h4 {
    color: var(--color-heading-sm-text);
    font-size: 2.25em;
    font-weight: 700;
}

h5 {
    color: var(--color-heading-sm-text);
    font-size: 2.0em;
    font-weight: 700;
}

h6 {
    font-size: 1.75em;
    font-weight: 700;
    color: var(--color-heading-sm-text);
    margin-bottom: 5px;
}

ul {
    margin: 0;
    padding: 0;
    margin-left: 18px;
}

ul li p {
    margin: 0em;
    margin-bottom: 0.2em;
}

@media only screen and (max-width: 1030px) {
    .container {
        width: calc(100% - 1em);
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .intro {
        font-size: 1.2em;
    }

    h1 {
        font-size: 3em;
        margin-top: 0.5em;
        margin-bottom: 0em;
    }

    ul li a {
        font-size: 2.4em;
    }
}

.pure-table {
    margin-top: 0.6em !important;
}

.pure-table-horizontal td, .pure-table-horizontal th {
    border-bottom: 1px solid var(--color-table-border) !important;
}

.pure-table td, .pure-table th {
    border-left: 1px solid var(--color-table-border) !important;
}

.pure-table thead {
    background-color: var(--color-table-header-background) !important;
    color: var(--color-table-header-text) !important;
}

.pure-table {
    border: 1px solid var(--color-table-border) !important;
}

.pure-table-striped tr td {
    background-color: var(--color-table-background) !important;
}

.pure-table-striped tr:nth-child(2n-1) td {
    background-color: var(--color-table-alt-background) !important;
}

.small {
    font-size: 1em;
    color: var(--color-small);
    font-weight: 800;
}

footer {
    border-top: 1px solid var(--color-footer-border);
    margin-top:1.5em;
    margin-bottom:2em;
    text-align: center;
}

footer > small {
    display: block;
    margin-top: 2em;
    margin-bottom: 1em;
    opacity: 0.6;
}

footer ul {
    list-style-type: none;
    margin: 0;
}

footer ul li {
    display: inline-block;
    margin: 0 0.2em;
}

.twitter { color: var(--color-link-twitter); }
.twitter:hover, .twitter:focus { color: var(--color-link-2-twitter); }

.github { color: var(--color-link-github); }
.github:hover, .github:focus { color: var(--color-link-2-github); }

.image {
    border-radius: 12px;
    border: 3px solid var(--color-accent);
}

.profile-image {
    border-radius: 50%;
    border: 3px solid var(--color-profile-border);
    margin-right:12px;
    transition: border 150ms ease-in-out;
}

.profile-image:hover {
    border: 3px solid var(--color-accent);
}

.pure-g > div {
    box-sizing: border-box;
}

.l-box {
    padding: 1em;
}

.text-faded {
    opacity: 0.6;
    font-style: italic;
    font-size: 1.1em;
}

/* 2 columns by default */
.image-sizer, 
.image-item { width: calc(50% - 20px); margin-bottom: 10px; }

.image-item img {
    border-radius: 12px;
    cursor: pointer;
    transition: filter 150ms ease-in-out;
}

.image-item img:hover {
    filter: brightness(0.6);
}

@media screen and (min-width: 768px) {
    /* 3 columns for larger screens */
    .image-sizer,
    .image-item { width: calc(33.333% - 30px); }
}

.pure-button-primary {
    background-color: var(--color-link) !important;
    font-weight: 600;
    color: #FFF;
}

.pure-button-primary:hover {
    background-color: var(--color-link-2);
    font-weight: 600;
    color: #FFF;
}