<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
          integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47"
          crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800&display=swap" rel="stylesheet">

    <!-- Custom Styles -->
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <environment include="Production">
        <link rel="stylesheet" href="~/css/site-min.css" />
    </environment>

    <!-- Custom Icon Fonts -->
    <script src="https://kit.fontawesome.com/eb19a1bea8.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37972059-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-37972059-9');
    </script>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/about">about</a></li>
                <li><a href="/">blog</a></li>
                <li><a href="/cv">curriculum vitae</a></li>
                <li><a href="/style">style guide</a></li>
            </ul>
        </nav>

        @RenderBody()

        <br />
    </div>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <environment include="Production">
        <script src="~/js/site-min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
